// TODO: fix this properly. This is just a workaround for firefox
.overlay-content {
    padding-bottom: 0;

    & > div:last-child {
        padding-bottom: calc(var(--margin-big) * 2);
        @media screen and (max-width: 640px) {
            padding-bottom: calc(64px + var(--margin));
        }
    }
}


.overlay-content {
    left: auto;
    bottom: auto;
    right: var(--margin-big);
    top: 0;

    @media screen and (max-width: 640px) {
        right: initial;
    }
    
    .fetching {
        display: flex;
        flex-direction: row;
        justify-content: center;

        i {
            font-size: 32px;
        }
    }
}

.section {
    &:not(:last-child) {
        margin-bottom: var(--margin-big);
    }

    .section-title {
        display: block;
        font-weight: bold;
        margin-bottom: var(--margin);
    }
}

.buttons {
    button {
        width: 100%;
        height: 46px;

        background: var(--color-accent);
        transition: all 0.5s ease;
        border-radius: 6px;
        border: none;

        margin-top: var(--margin);

        &:not(:first-child) {
            margin-left: var(--margin);
        }

        padding: var(--margin) 0;
        color: var(--color-text-inverted);

        font-size: 16px;
        cursor: pointer;

        &:hover {
            filter: brightness(1.15);
        }

        &[disabled] {
            filter: grayscale(1);
            cursor: default;
        }

        &.active {
            &.type-text {
                background: var(--color-blue);
            }
        }
    }
}

input:not([type="checkbox"]) {
    display: block;
    width: calc(100% - 2 * var(--margin-big));
    
    padding: 0 var(--margin-big);
    font-size: 14px;
    height: 46px; // TODO: define sidebar item height
    margin-top: calc((64px - 46px) / 2);

    background: transparent;
    border-radius: 8px;
    border: none;

    background: var(--color-background-l1);
    color: var(--color-text);
}

.item {
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background: var(--color-background-l1);
    border-radius: var(--border-radius);

    transition: filter var(--transition);

    cursor: pointer;

    &:hover {
        filter: var(--filter-hover);
    }

    &.disabled {
        filter: grayscale(1) brightness(.5);
        cursor: default;
        
        &:hover {
            filter: grayscale(1) brightness(.5);
        }
    }

    &:not(:last-child) {
        margin-bottom: var(--margin);
    }

    .label {
        padding: var(--margin-big);
        i {
            width: 24px;
            margin-right: var(--margin);
            text-align: center;
        }

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        width: 100%;

        &.danger {
            color: var(--color-red);
        }
    }

    .actions {
        padding: var(--margin-big);
    }

    &.active {
        color: var(--color-text-inverted);

        &.p-discoverable {
            background: var(--color-green);
        }
        &.p-not-discoverable {
            background: var(--color-lblue);
        }
        &.p-invisible {
            background: var(--color-yellow);
        }
        &.p-private {
            background: var(--color-orange);
        }
    }
}

.add-tag {
    padding: var(--margin-big);
    
    &:hover {
        cursor: default;
    }

    input {
        margin-top: 0;
        height: auto;
    }
    input[type="color"] {
        width: 35px; // I want a square
        height: 38px;
        padding: 0;
        flex-shrink: 0;
        cursor: pointer;
    }
    button {
        height: 38px;
        width: 38px;
        padding: 0;
        flex-shrink: 0;
        border-radius: var(--border-radius);
        border: none;

        background: var(--color-blue);
        color: var(--color-text);

        cursor: pointer;

        &[disabled] {
            filter: grayscale(1);
            cursor: default;
        }
    }
}

.encryption-setup {
    .inputs {
        margin-bottom: var(--margin);
    }
}

.placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
