<div *ngIf="state.noteSaved" class="overlay-content">
	<h1>Properties</h1>

	<div class="section">
		<h2 class="section-title">Title</h2>

		<app-item-input (valueChange)="checkEdit()" [(value)]="note.title" [data]="{
            placeholder: 'Note title'
        }"></app-item-input>
	</div>

	<div class="section">
		<h2 class="section-title">Actions</h2>

		<app-item (click)="copyText(baseAddress + '/n/' + note.id)" *ngIf="note.access !== 0"
				  [data]="{label: 'Copy link', icon: 'fas fa-link'}">
		</app-item>
		<div *ngIf="note.access === 0" hide-delay="0"
			 placement="left" tooltip="This is a private note!<br>Nobody except you will be able to see it">
			<app-item (click)="copyText(baseAddress + '/n/' + note.id)" *ngIf="note.access === 0"
					  [data]="{label: 'Copy link', icon: 'fas fa-link'}">
			</app-item>
		</div>

		<div (click)="delete()" class="item">
			<div class="label danger">
				<i class="fas fa-trash"></i>
				<span class="name">Delete <b>{{note.title}}</b></span>
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="section-title">Note access</h2>

		<div (click)="setAccess(3)" [class.active]="note.access === 3" [class.disabled]="note.encrypted"
			 class="item p-discoverable">
			<div class="label">
				<i class="fas fa-globe-americas"></i>
				<span class="name">Published</span>
			</div>
		</div>
		<div (click)="setAccess(2)" [class.active]="note.access === 2" [class.disabled]="note.encrypted"
			 class="item p-not-discoverable">
			<div class="label">
				<i class="far fa-circle"></i>
				<span class="name">Not discoverable</span>
			</div>
		</div>
		<div (click)="setAccess(1)" [class.active]="note.access === 1"
			 class="item p-invisible">
			<div class="label">
				<i class="fas fa-eye-slash"></i>
				<span class="name">Invisible</span>
			</div>
		</div>
		<div (click)="setAccess(0)" [class.active]="note.access === 0"
			 class="item p-private">
			<div class="label">
				<i class="fas fa-lock"></i>
				<span class="name">Private</span>
			</div>
		</div>
	</div>

	<div class="section">
		<h2 class="section-title">Encryption</h2>

		<div *ngIf="!note.encrypted && note.access < 2" class="encryption-setup">
			<div class="inputs">
				<app-item-input [(value)]="password" [data]="{
            		placeholder: 'Encryption password',
            		type: 'password'
        		}"></app-item-input>

				<app-item-input [(value)]="passwordAgain" [data]="{
            		placeholder: 'Encryption password... again...',
            		type: 'password'
        		}"></app-item-input>
			</div>

			<app-item (click)="encryptNote()" *ngIf="!encrypting" [data]="{
				label: 'Encrypt',
            	style: 'submit',
            	disabled: !state.noteSaved || password !== passwordAgain || !password
        	}"></app-item>
		</div>

		<div *ngIf="note.access > 1" class="encryption-access-unavailable"> <!-- Not discoverable and published-->
			Only invisible and private notes can be encrypted.
		</div>

		<div *ngIf="note.encrypted" class="encryption-destroy">
			Note is already encrypted.
		</div>
	</div>

	<div class="section">
		<h2 class="section-title">Tags</h2>

		<div *ngIf="fetchSuccess" class="tags">
			<div *ngFor="let tag of tags" [class.active]="note.tags.includes(tag.id)" [ngStyle]="{
                color: (note.tags.includes(tag.id)) ? 'var(--color-text-inverted)' : tag.color,
                background: (note.tags.includes(tag.id)) ? tag.color : 'var(--color-background-l1)'
            }" class="item tag">
				<div (click)="toggleTag(tag.id)" class="label">
					<span class="name">{{tag.name}}</span>
				</div>

				<div class="actions">
					<div (click)="deleteTag(tag.id)" *ngIf="tag.author === api.session.user_id" class="action delete"
						 hide-delay="0"
						 tooltip="Delete tag"><i class="fas fa-trash"></i></div>
				</div>
			</div>

			<form (ngSubmit)="onNewTagSubmit()" [formGroup]="newTagForm" class="item add-tag">
				<input formControlName="color" type="color">
				<input formControlName="name" placeholder="Tag name" type="text">
				<button [disabled]="!newTagForm.valid" type="submit"><i class="fas fa-plus"></i></button>
			</form>
		</div>

		<div *ngIf="fetching" class="fetching">
			<i class="fas fa-circle-notch loader"></i>
		</div>
	</div>
</div>

<div *ngIf="!state.noteSaved" class="overlay-content placeholder">
	<i class="fas fa-save big"></i>
	<p>
		Save your note first! Just to be sure I don't overwrite anything unsaved...
	</p>
</div>
