<div class="overlay-content">
	<div class="head">
		<h1>Tasks</h1>
	</div>

	<div class="task-group">
		<h2 class="group-title">Add task</h2>
		<div class="add-task">
			<app-item-input [(value)]="newTask.name" [data]="{
                    placeholder: 'Task name'
                }" (valueChange)="checkData()"></app-item-input>

			<input [(ngModel)]="newTask.dateString" (ngModelChange)="checkData()" type="date">

			<app-item (click)="sendNewTask()" [data]="{
            	label: 'Add task',
            	style: 'submit',
            	disabled: !dataValid
       		}"></app-item>
		</div>
	</div>

	<app-placeholder-loader *ngIf="fetching"></app-placeholder-loader>

	<div *ngIf="res && res.data" class="task-list">
		<div *ngFor="let dateGroup of dateGroups" [ngClass]="{
                'overdue': dateGroup.timeTag === 'overdue',
                'today': dateGroup.timeTag === 'today'
            }" class="task-group">
			<div *ngIf="dateGroup.timeTag === 'today'" class="notice">NOTE: Old completed tasks will be automatically
				deleted... someday... ¯\_(ツ)_/¯
			</div>

			<h2 class="group-title">{{dateGroup.dateString}}</h2>
			<app-list-item-task (reloadList)="fetchTasks()" *ngFor="let task of dateGroup.tasks"
								[availableTags]="res.data.tags"
								[task]="task"></app-list-item-task>
		</div>
	</div>
</div>
