.overlay-content {
  top: 0;
  padding-bottom: 0;

  & > div:last-child {
    padding-bottom: calc(var(--margin-big) * 2);
    @media screen and (max-width: 640px) {
      padding-bottom: calc(64px + var(--margin));
    }
  }
}

.add-task {
  width: 100%;
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: var(--margin);
  }

  input {
    width: calc(100% - var(--margin-big) * 2);
    height: 46px;

    background: var(--color-background-l1);
    color: var(--color-text);
    border: none;
    border-radius: var(--border-radius);
    padding: 0 var(--margin-big);
    margin-right: var(--margin);

    box-shadow: var(--shadow);
  }
  app-item-input {
    width: 100%;
  }

  .send {
    background: var(--color-accent);
    color: var(--color-black);
    border: none;

    padding: var(--margin-big);
    flex-shrink: 0;

    border-radius: var(--border-radius);
    box-shadow: var(--shadow);


    i {
      margin-right: var(--margin);
    }
  }
}

.task-list {
  margin: var(--margin-big) 0;

  .notice {
    margin-top: var(--margin-big);
    color: var(--color-gray);
    text-align: center;
  }

  .task-group:first-child {
    h2 {
      margin-top: 0;
    }
  }

  .task-group {
    h2 {
      margin-bottom: 0;

      @media screen and (max-width: 640px) {
        text-align: center;
      }
    }
  }

  .task-group.overdue h2 {
    color: var(--color-red);
  }
  .task-group.today h2 {
    color: var(--color-lblue);
  }
}

.group-title {
  margin-bottom: 0;

  @media screen and (max-width: 640px) {
    text-align: center;
  }
}
