<div class="head">
    <h1>Log in</h1>
</div>

<div class="inputs">
    <app-item-input [(value)]="username" (valueChange)="onInputChange()" (submit)="onSubmit()" [data]="{
        placeholder: 'Username',
        focus: true,
        invalid: error && error.code === 2
    }"></app-item-input>
    <app-item-input [(value)]="password" (valueChange)="onInputChange()" (submit)="onSubmit()" [data]="{
        placeholder: 'Password',
        type: 'password',
        invalid: error && error.code === 3
    }"></app-item-input>
</div>

<p class="error-string" *ngIf="error && ![2,3].includes(error.code)">{{ error.msg }}</p>

<app-item *ngIf="!loading" [data]="{
    label: 'Continue',
    style: 'submit',
    disabled: !dataValid
}" (click)="onSubmit()"></app-item>

<div *ngIf="loading" class="loader">
    <i class="fas fa-circle-notch"></i>
</div>