.item {
  margin-bottom: var(--margin);
  border-radius: var(--border-radius);
  background: var(--item-background);
  box-shadow: var(--shadow);

  cursor: pointer;

  transition: filter var(--transition);

  &:hover {
    filter: var(--filter-hover);
  }

  &[type="outage"] .thumbnail {
    background-image: url("~/assets/backgrounds/news-posts/outage.jpeg");
  }
  &[type="maintenance"] .thumbnail {
    background-image: url("~/assets/backgrounds/news-posts/maintenance.jpeg");
  }
  &[type="legal"] .thumbnail {
    background-image: url("~/assets/backgrounds/news-posts/legal.jpeg");
  }
}

.thumbnail {
  background: url("~/assets/backgrounds/news-posts/other.jpeg");
  background-size: cover;
  background-position: center center;

  height: 128px;
  width: 100%;

  border-radius: var(--border-radius);
}

.text {
  padding: var(--margin-big);

  h2 {
    margin-top: 0;
    margin-bottom: var(--margin);
  }

  footer {
    color: var(--color-gray);
  }
}
