<div class="item" [attr.type]="note.news_post">
	<div class="thumbnail">

	</div>
	<div class="text">
		<h2>{{note.title}}</h2>
		<footer>
			{{creationDate}}
			//
			updated {{lastModifiedDeltaString}}
		</footer>
	</div>
</div>
