input {
    display: block;
    width: calc(100% - 2 * var(--margin-big));

    padding: 0 var(--margin-big);
    font-size: 14px;
    height: 46px; // TODO: define sidebar item height
    margin-top: var(--margin);

    background: transparent;
    border-radius: 8px;
    border: none;

    background: var(--item-background);
    color: var(--color-text);

    transition: filter var(--transition);

    box-shadow: var(--shadow);

    &:hover {
        filter: var(--filter-hover);
    }

    &:focus {
        padding: 0 calc(var(--margin-big) - 2px); // To make up for the 2px border
        height: calc(46px - 2 * 2px);
        border: 2px solid var(--color-accent);
    }

    &.invalid {
        padding: 0 calc(var(--margin-big) - 2px); // To make up for the 2px border
        height: calc(46px - 2 * 2px);
        border: 2px solid var(--color-red);
        animation: 1s invalid-input ease;
    }
}
