.item {
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    margin-bottom: var(--margin);
    padding: var(--margin-big);
    
    background: var(--item-background);
    border-radius: var(--border-radius);

    transition: filter var(--transition);

    box-shadow: var(--shadow);

    cursor: pointer;
    
    &:hover {
        filter: var(--filter-hover);
    }

    &.no-interact {
        cursor: default;
        
        &:hover {
            filter: none;
        }
    }

    &.no-margin {
        margin-bottom: 0;
    }

    &.disabled {
        filter: grayscale(1) brightness(.5);
        cursor: default;
        
        &:hover {
            filter: grayscale(1) brightness(.5);
        }
    }

    i {
        transition: transform var(--transition);
    }

    .label {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        .left {
            i:first-child {
                width: 24px;
                margin-right: var(--margin);
                text-align: center;
            }
        }

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &.danger {
            color: var(--color-red);
        }

        .end-name {
            display: block;
            justify-self: flex-end;
        }
    }

    &.active {
        background: var(--color-accent);
        color: var(--color-text-inverted);
    }

    &[style-preset=noter-client-gradient] {
        background: linear-gradient(to top right, var(--color-cyan), var(--color-lblue));
        color: var(--color-black);
    }
    &[style-preset=noter-server-gradient] {
        background: linear-gradient(to top right, var(--color-orange), var(--color-red));
        color: var(--color-black);
    }
    &[style-preset=angular-gradient] {
        background: linear-gradient(to top right, var(--color-red), #c22);
        color: var(--color-black);
    }
    &[style-preset=gitlab] {
        .label .left i {
            color: var(--color-orange);
        }
    }
    &[style-preset=report] {
        background: var(--color-yellow);
        color: var(--color-black);
    }
    &[style-preset=color-background] {
        color: var(--color-black);
    }
    &[style-preset=submit] {
        background: var(--color-accent);
        color: var(--color-black);

        .label {
            justify-content: center;
        }
    }

    .flip {
        transform: rotate(180deg);
    }
}
