<div [attr.style-preset]="data.style"
	 [class.active]="data.active"
	 [class.disabled]="data.disabled"
	 [class.no-interact]="data.notInteractive"
	 [class.no-margin]="data.margin === 'none'"
	 [style.background]="data.background"
	 class="item item-component"
> <!-- TODO: remove .item-component after everything is converted -->
	<div [class.danger]="data.style === 'danger'" class="label">
		<div class="left">
			<i *ngIf="data.icon" [attr.class]="data.icon"></i>
			<span class="name">{{data.label}}</span>
		</div>
		<div class="right">
			<i class="fas fa-circle-notch loader" *ngIf="data.loading"></i>
			<div class="action-icons" *ngIf="!data.loading">
				<i *ngIf="data.expandable" class="fas fa-chevron-right"></i>
				<i *ngIf="data.externalLink" class="fas fa-external-link-alt"></i>
				<i *ngIf="data.dropdownHead" [class.flip]="data.dropdownExpanded" class="fas fa-chevron-down"></i>
			</div>
			<span *ngIf="data.endLabel" class="end-name">{{data.endLabel}}</span>
		</div>
	</div>
</div>
