.overlay-content {
    left: auto;
    bottom: auto;
    right: var(--margin-big);
    top: 0;

    @media screen and (max-width: 640px) {
        right: initial;
    }
}

.placeholder {
    text-align: center;
    padding: 64px 0;
    i {
        font-size: 64px;
    }
}

a {
    display: block;
    cursor: pointer;
}

div:not(:first-child) a.l1 {
    margin-top: var(--margin-big);
}

a.l2 {
    padding-left: calc(var(--margin-big) * 2);
}

a.l3 {
    padding-left: calc(var(--margin-big) * 4);
}

a.l4 {
    padding-left: calc(var(--margin-big) * 6);
}

a.l5 {
    padding-left: calc(var(--margin-big) * 8);
}

a.l6 {
    padding-left: calc(var(--margin-big) * 10);
}