<div class="overlay-content">
    <h1>Index</h1>

    <div class="placeholder" *ngIf="index.length === 0">
        <i class="fas fa-heading"></i>
        <p>
            No headings to guide you :(
            <br>
            Don't get lost... ok?
        </p>
    </div>

    <div class="heading" *ngFor="let heading of index">
        <a (click)="scrollTo(heading)" [ngClass]="{
            'l1': heading.level === 1,
            'l2': heading.level === 2,
            'l3': heading.level === 3,
            'l4': heading.level === 4,
            'l5': heading.level === 5,
            'l6': heading.level === 6
        }">{{heading.title}}</a>
    </div>
</div>