.divider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: var(--margin) 0;

  .line {
	width: 100%;
	height: 4px;
	background: var(--color-gray);
	border-radius: 2px;
  }

  .text {
	flex-shrink: 0;
	padding: 0 var(--margin);
  }
}
