<div *ngIf="res && res.success" class="container">
    <div class="hero">
        <div class="row">
            <div class="col">
                <h1>Stats</h1>

                <br>

                <p class="description">See how's noter doing...</p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="header">
            <h1>Requests</h1>
            <h1><span class="small">in the last tracking cycle</span> {{res.data.stats[0].requests.count}}</h1>
        </div>
        <div echarts [options]="requestCountChartOptions" theme="macarons" class="request-count-chart"></div>
    </div>

    <div class="section">
        <div class="header">
            <h1>Notes</h1>
            <h1><span class="small">including private & invisible</span> {{res.data.stats[0].counts.noteCount}}</h1>
        </div>
        <div echarts [options]="noteCountChartOptions" theme="macarons" class="note-count-chart"></div>
    </div>

    <div class="section">
        <div class="header">
            <h1>Users</h1>
            <h1>{{res.data.stats[0].counts.userCount}}</h1>
        </div>
        <div echarts [options]="userCountChartOptions" theme="macarons" class="user-count-chart"></div>
    </div>

    <div class="section">
        <div class="header">
            <h1>Tasks</h1>
            <h1><span class="small">including completed</span> {{res.data.stats[0].counts.taskCount}}</h1>
        </div>
        <div echarts [options]="taskCountChartOptions" theme="macarons" class="task-count-chart"></div>
    </div>
</div>
