.hero {
    padding-top: 8%;
    padding-bottom: 8%;

    h1 {
        margin: 0;
    }

    @media screen and (max-width: 640px) {
        text-align: center;
    }
}

.section {
    .header {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;

        .small {
            font-size: .75rem;
        }
    }
}

