<div class="page container">
    <div class="hero">
        <h1>Tasks</h1>
    </div>

    <div class="content">
        <div class="task-group">
            <h2 class="group-title">Add task</h2>
            <div class="add-task">
                <app-item-input [(value)]="newTask.name" [data]="{
                    placeholder: 'Task name'
                }"></app-item-input>
                <input type="date" [(ngModel)]="newTask.dateString">
                <button class="send" (click)="sendNewTask()">
                    <i class="fas fa-plus"></i>
                    <span class="label">Add task</span>
                </button>
            </div>
        </div>

        <div class="task-list" *ngIf="res && res.data">
            <div class="task-group" *ngFor="let dateGroup of dateGroups" [ngClass]="{
                'overdue': dateGroup.timeTag === 'overdue',
                'today': dateGroup.timeTag === 'today'
            }">
                <div class="notice" *ngIf="dateGroup.timeTag === 'today'">NOTE: Old completed tasks will be automatically deleted... someday... ¯\_(ツ)_/¯</div>
                
                <h2 class="group-title">{{dateGroup.dateString}}</h2>
                <app-list-item-task *ngFor="let task of dateGroup.tasks" [task]="task" [availableTags]="res.data.tags" (reloadList)="fetchTasks()"></app-list-item-task>
            </div>
        </div>
    </div>
</div>