<div class="overlay-content">
    <h1>Save</h1>
    <p>
        Where do you want to save<br>
        <b>{{noteData.note.title}}</b> ?
    </p>

    <div *ngIf="api.session.token">
        <div class="item" (click)="bookmarkNote()" [class.active]="isBookmarked">
            <div class="label">
                <i class="fas fa-circle-notch loader" *ngIf="fetching"></i>
                <i class="fas fa-bookmark" *ngIf="!fetching"></i>

                <span class="name" *ngIf="!isBookmarked">Bookmark to your account</span>
                <span class="name" *ngIf="isBookmarked">Remove bookmark</span>
            </div>
        </div>

        <p>
            This will just bookmark the note in your account, making it quickly accessible for any device that you are signed in on, as long as you have access to the internet.
        </p>

        <br>
    </div>

    <div class="item" (click)="saveLocally()" [class.active]="isSavedLocally">
        <div class="label">
            <i class="fas fa-download"></i>

            <span class="name" *ngIf="!isSavedLocally">Download note</span>
            <span class="name" *ngIf="isSavedLocally">Delete from downloaded notes</span>
        </div>
    </div>

    <p>This will make the note available even when offline on <b>this device only</b>.</p>

    <br>

    <div class="item" (click)="exportHTML()">
        <div class="label">
            <i class="fas fa-file-code"></i>
            <span class="name">Download file</span>
        </div>
    </div>

    <p>
        <b>EXPERIMENTAL!</b><br>
        Export note to a HTML file and download it
    </p>

    <br>

    <div class="item" (click)="cancel()">
        <div class="label">
            <i class="fas fa-times"></i>
            <span class="name">Cancel</span>
        </div>
    </div>
</div>