<div class="head">
    <h1>Sign up</h1>
</div>

<app-item-input [(value)]="username" (valueChange)="onInputChange()" (submit)="onSubmit()" [data]="{
    placeholder: 'Username',
    focus: true
}"></app-item-input>
<app-item-input [(value)]="password" (valueChange)="onInputChange()" (submit)="onSubmit()" [data]="{
    placeholder: 'Password',
    type: 'password'
}"></app-item-input>
<app-item-input [(value)]="passwordAgain" (valueChange)="onInputChange()" (submit)="onSubmit()" [data]="{
    placeholder: 'Password... again...',
    type: 'password'
}"></app-item-input>

<p>By signing up you agree to the <a [routerLink]="['/n/5e0296d171de4f00830bc84f']">Terms of Service</a> and
    <a [routerLink]="['/n/5e01f836ade41b2b1c768ffc']">Privacy Policy</a></p>

<p class="error-string" *ngIf="error">{{ error.msg }}</p>

<app-item *ngIf="!loading" [data]="{
    label: 'Continue',
    style: 'submit',
    disabled: !dataValid
}" (click)="onSubmit()"></app-item>

<div *ngIf="loading" class="loader">
    <i class="fas fa-circle-notch"></i>
</div>