@keyframes invalid-input {
    0% {
        background: #611;
    }

    100% {
        background: var(--color-background-l2);
    }
}

input:not([type="checkbox"]) {
    display: block;
    width: calc(100% - 2 * var(--margin-big));
    height: 46px;
    margin: var(--margin) 0;
    padding: 0 var(--margin-big);
    font-size: 14px;

    background: transparent;
    border-radius: 8px;
    border: none;

    background: var(--color-background-l2);
    color: var(--color-text);

    transition: filter var(--transition);

    &:hover {
        filter: var(--filter-hover);
    }

    &.invalid {
        padding: 0 calc(var(--margin-big) - 2px); // To make up for the 2px border
        height: calc(46px - 2 * 2px);
        border: 2px solid var(--color-red);
        animation: 1s invalid-input ease;
    }

    &:focus {
        padding: 0 calc(var(--margin-big) - 2px); // To make up for the 2px border
        height: calc(46px - 2 * 2px);
        border: 2px solid var(--color-accent);
    }
}

input[type="checkbox"] {
    background: var(--color-background-l2);
}

button {
    width: 100%;
    height: 46px;

    background: var(--color-accent);
    border-radius: 6px;
    border: none;

    padding: var(--margin);
    color: var(--color-text-inverted);

    font-size: 16px;
    cursor: pointer;

    transition: filter var(--transition);

    &:hover {
        filter: var(--filter-hover);
    }

    &[disabled] {
        filter: grayscale(1);
        cursor: default;
    }
}

.error-string {
    color: var(--color-red);
    font-size: 14px;
    margin: 0;
    margin-bottom: var(--margin);
}

.buttons-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: var(--margin);

    .button {
        width: 100%;

        margin-bottom: 0;

        &:not(:last-child) {
            margin-right: var(--margin);
        }
    }
}

.button {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: var(--margin-big);
    background: var(--color-background-l1);
    border-radius: var(--border-radius);

    transition: filter var(--transition);

    cursor: pointer;

    &.login-retry {
        margin-top: var(--margin);
    }

    &:hover {
        filter: var(--filter-hover);
    }

    &:not(:last-child) {
        margin-bottom: var(--margin);
    }

    .label {
        i {
            margin-right: var(--margin);
        }
    }
}

.loader {
    i {
        font-size: 28px;
        margin-top: calc((46px - 28px) / 2);
    }

    text-align: center;
    height: var(--item-height);
}