<div class="overlay-content">
    <h1>Group mode</h1>
    <p>
        Group items in sections based on their attributes
    </p>

    <app-item (click)="changeMode('none')" [data]="{
        icon: 'fas fa-times',
        label: 'No grouping',
        active: groupMode === 'none'
    }"></app-item>

    <app-item (click)="changeMode('tags')" [data]="{
        icon: 'fas fa-tags',
        label: 'Group by tags',
        active: groupMode === 'tags'
    }"></app-item>

    <app-item (click)="changeMode('access')" [data]="{
        icon: 'fas fa-globe-americas',
        label: 'Group by access',
        active: groupMode === 'access'
    }"></app-item>
</div>