.overlay-content {
    left: auto;
    bottom: auto;
    right: var(--margin-big);
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 640px) {
        right: initial;
    }
    
    .fetching {
        display: flex;
        flex-direction: row;
        justify-content: center;

        i {
            font-size: 32px;
        }
    }
}