.item {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background: var(--color-accent);
  border-radius: var(--border-radius);
  margin-top: var(--margin);

  box-shadow: var(--shadow);
  cursor: pointer;

  transition: filter var(--transition);

  &:hover {
	filter: var(--filter-hover);
  }

  .icon {
	width: 48px;
	padding: var(--margin-big) 0;
	margin-left: 2px;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--color-black);
  }

  .main {
	width: 100%;
	background: var(--item-background);

	padding: var(--margin-big);
	//margin: 2px;

	border-radius: var(--border-radius);

	.username {
	  font-weight: bold;
	}
	.details {
	  color: var(--color-gray);
	}
  }
}
