<div class="item" (click)="openUserOverlay()">
	<div class="icon">
		<i class="fas fa-user"></i>
	</div>
	<div class="main">
		<div class="username">
			{{user.username}}
			<app-user-badges [badges]="user.badges"></app-user-badges>
		</div>

		<div class="details">{{(user.description) ? user.description : 'Something something'}}</div>
	</div>
</div>
