.page {
    height: 100vh;
    @media screen and (max-width: 640px) {
        height: calc(100vh - 64px);
    }
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    .loader {
        font-size: 48px;
    }

    .text {
        margin-top: var(--margin-big);
    }
}