<div class="page">
    <div>
        <i class="fas fa-exclamation-triangle"></i><br>
        <div class="text">
            Failed to fetch.<br>
            Check your internet maybe? If that's working, server may be down.
        </div>
    </div>
</div>