/* @keyframes overlay-show-right {
    0% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(0px);
    }
} */

.cover {
    background: linear-gradient(to left, var(--gradient-overlay-1), var(--gradient-overlay-2));
    
    position: fixed;
    z-index: 88;
    
    top:0;
    right: -100vw;
    
    width: 100%;
    height: 100%;
    
    opacity: 0;
    
    transition: transform var(--transition), opacity var(--transition);
    backdrop-filter: var(--filter-blur);
    
    &.reversed {
        background: linear-gradient(to right, var(--gradient-overlay-1), var(--gradient-overlay-2));
        right: auto;
        left: -100vw;
    }
    @media screen and (max-width: 640px) {
        background: var(--gradient-overlay-f) !important;
        left:0 !important;
        right:0 !important;
        top: auto;
        bottom: -100vh;
    }

    &.active {
        transform: translateX(-100vw);
        &.reversed {
            transform: translateX(100vw);
        }
        @media screen and (max-width: 640px) {
            transform: translateY(-100vh) !important;
        }

        opacity: 1;
    }
}
/* 
.overlay-wrapper {
    &.active {
        animation: 2s ease overlay-show-right;
    }
} */