<div class="cover" [class.active]="showCover" [class.reversed]="reverseCover" (click)="resolveData(returnTrueOnCancel)">
</div>

<div class="overlay-wrapper" [class.active]="showCover" [class.reversed]="reverseCover"> <!-- TODO: rename vars for overlay states -->

    <app-overlay-index *ngIf="overlayStates['note-index']" [index]="overlayData" (resolved)="resolveData($event)">
    </app-overlay-index>
    <app-overlay-delete-confirm *ngIf="overlayStates['delete-confirm']" [note]="overlayData"
    (resolved)="resolveData($event)"></app-overlay-delete-confirm>

    <app-overlay-prop-edit *ngIf="overlayStates['prop-edit']" [note]="overlayData" (resolved)="resolveData($event)"
    (returnTrueOnCancel)="setupReturnTrueOnCancel()"></app-overlay-prop-edit>

    <app-overlay-note-save *ngIf="overlayStates['note-save']" [noteData]="overlayData" (resolved)="resolveData($event)">
    </app-overlay-note-save>

    <app-overlay-list-grouping *ngIf="overlayStates['list-grouping']" [groupMode]="overlayData" (resolved)="resolveData($event)">
    </app-overlay-list-grouping>

    <app-overlay-md-guide *ngIf="overlayStates['md-guide']">
    </app-overlay-md-guide>

    <app-overlay-encrypt-password-prompt *ngIf="overlayStates['encrypt-password-prompt']" [data]="overlayData" (resolved)="resolveData($event)">
    </app-overlay-encrypt-password-prompt>

    <app-overlay-new-note *ngIf="overlayStates['new-note']" (resolved)="resolveData($event)">
    </app-overlay-new-note>
    <app-overlay-open *ngIf="overlayStates['open']" (resolved)="resolveData($event)">
    </app-overlay-open>
    <app-overlay-tasks *ngIf="overlayStates['tasks']" (resolved)="resolveData($event)">
    </app-overlay-tasks>
    <app-overlay-debug *ngIf="overlayStates['debug']" (resolved)="resolveData($event)">
    </app-overlay-debug>
    <app-overlay-login *ngIf="overlayStates['login']" (resolved)="resolveData($event)" [data]="overlayData">
    </app-overlay-login>
    <app-overlay-user *ngIf="overlayStates['user']" [data]="overlayData" (resolved)="resolveData($event)">
    </app-overlay-user>
    <app-overlay-account *ngIf="overlayStates['account']" (resolved)="resolveData($event)">
    </app-overlay-account>
    <app-overlay-settings *ngIf="overlayStates['settings']" (resolved)="resolveData($event)">
    </app-overlay-settings>
    <app-overlay-search *ngIf="overlayStates['search']" (resolved)="resolveData($event)">
    </app-overlay-search>

</div>
