nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--color-background), transparent);

    position: fixed;
    left: 64px;
    top: 0;

    z-index: 64;


    width: calc(100% - 64px);
    height: 64px;

    @media screen and (max-width: 640px) {
        left: 0;
        width: 100%;
    }

    .left,
    .right {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }

    .nav-item {
        height: 100%;

        &:not(.text) {
            width: 64px;
            cursor: pointer;

            transition: filter var(--transition), color var(--transition);

            &:hover {
                filter: var(--filter-hover-inverted);
            }
        }

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        justify-content: center;
        align-items: center;
    }

    i {
        font-size: 22px;
    }

    .props {
        margin-left: var(--margin);

        i {
            font-size: initial; // To negate the general navbar icon size
            margin-right: var(--margin);
        }

        .prop-private {
            color: var(--color-orange);
        }

        .prop-invisible {
            color: var(--color-yellow);
        }

        .prop-published {
            color: var(--color-green);
        }

        .prop-encrypted {
            color: var(--color-cyan);
        }

        .prop-news-post {
            color: var(--color-purple);
        }
    }

    .saved {
        filter: brightness(1) !important;
        color: var(--color-green);
        cursor: default !important;

        &:hover {
            filter: none;
        }
    }

    .failed {
        filter: brightness(1) !important;
        color: var(--color-red);
    }

    .note-title,
    .char-rem {
        @media screen and (max-width: 640px) {
            display: none;
        }
    }

    .editor-button,
    .preview-button {
        display: none;

        @media screen and (max-width: 640px) {
            display: flex;
        }
    }
}

.page {
    background: var(--color-background-l1);

    padding: calc(var(--margin-big) * 2);
    margin: var(--margin-big) 0;
    margin-top: calc(var(--margin-big) + 256px);

    border-radius: var(--border-radius);
    min-height: calc(100vh - 6 * var(--margin-big));

    box-shadow: var(--shadow);

    @media screen and (max-width: 640px) {
        margin: 0;
        margin-top: calc(64px + var(--margin-big));

        padding-left: 0;
        padding-right: 0;
        padding-bottom: 128px;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media screen and (max-width: 640px) {
    .container {
        padding: 0;
    }
}

.add-section {
    text-align: center;

    .add-button-row {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 96px;
        height: 96px;

        margin: 0 var(--margin);

        cursor: pointer;

        background: var(--color-background-l2);
        color: var(--color-text);
        border-radius: var(--border-radius);

        transition: background var(--transition), color var(--transition), box-shadow var(--transition);

        i {
            font-size: 32px;
        }

        &:hover {
            color: var(--color-text-inverted);

            box-shadow: var(--shadow);

            &.markdown {
                background: var(--color-lblue);
            }

            &.draw {
                background: var(--color-yellow);
            }

            &.happy {
                background: var(--color-lime);
            }
        }
    }
}

.section {
    background: var(--color-background-l3);
    border-radius: var(--border-radius);

    box-shadow: var(--shadow);

    &:not(:first-child) {
        margin-top: var(--margin-big);
    }

    &.markdown {
        .section-edit-header {
            background: var(--color-lblue);
        }
        .section-editor {
            padding: var(--margin-big);
        }
    }

    &.drawing .section-edit-header {
        background: var(--color-yellow);
    }

    .section-edit-header {
        background: var(--color-background-l2);
        padding: var(--margin-big);
        border-radius: var(--border-radius);
        color: var(--color-text-inverted);

        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            i {
                margin-right: var(--margin);
            }
        }

        .right {
            display: flex;
        }

        .section-action {
            transition: color var(--transition);
            margin: 0 var(--margin);

            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: var(--color-gray);
            }

            &.delete-section:hover {
                color: var(--color-red) !important;
            }
        }


    }

    
}
