<nav *ngIf="res && res.data && res.data.note.author === api.session.user_id">
    <div class="left nav-item-list">
        <div class="nav-item" (click)="exit()">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div class="nav-item text note-title">
            <span>{{res.data.note.title}}</span>

            <span class="props">
                <!-- prop = property -->
                <span class="prop-private" *ngIf="res.data.note.access === 0">
                    <i class="fas fa-lock"></i>
                </span>

                <span class="prop-invisible" *ngIf="res.data.note.access === 1">
                    <i class="fas fa-eye-slash"></i>
                </span>

                <span class="prop-published" *ngIf="res.data.note.access === 3">
                    <i class="fas fa-globe-americas"></i>
                </span>

                <span class="prop-encrypted" *ngIf="res.data.note.encrypted">
                    <i class="fas fa-key"></i>
                </span>

                <span class="prop-news-post" *ngIf="res.data.note.news_post">
                    <i class="fas fa-newspaper"></i>
                </span>
            </span>
        </div>
    </div>

    <div class="right nav-item-list">
        <div class="nav-item text">
            <span [class.yellow]="percUsed > 75" [class.orange]="percUsed > 90" [class.red]="percUsed > 95">
                {{percUsed}}% used
            </span>
        </div>

        <div class="nav-item" (click)="save()" [class.saved]="saved"
            [class.failed]="saveFetchRes && !saveFetchRes.success">
            <i class="fas fa-save" *ngIf="!saveFetching"></i>
            <i class="fas fa-circle-notch loader" *ngIf="saveFetching"></i>
        </div>

        <div class="nav-item" (click)="openProps()">
            <i class="fas fa-ellipsis-h"></i>
        </div>
    </div>
</nav>

<div class="container" *ngIf="res && res.data && res.data.note.author === api.session.user_id">
    <div class="page" #c>
        <div class="section" *ngFor="let section of res.data.note.doc.body.sections; let i = index"  [ngClass]="{
            markdown: section.type === 'markdown',
            drawing: section.type === 'draw'
        }">
            <div class="section-edit-header">
                <div class="left" *ngIf="section.type === 'markdown'">
                    <i class="fab fa-markdown"></i>
                    <span class="label">Markdown</span>
                </div>

                <div class="left" *ngIf="section.type === 'draw'">
                    <i class="fas fa-pencil-alt"></i>
                    <span class="label">Drawing</span>
                </div>

                <div class="right">
                    <div class="section-action" (click)="swapSection(i, i-1)" *ngIf="i !== 0">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="section-action" (click)="swapSection(i, i+1)"
                        *ngIf="i !== res.data.note.doc.body.sections.length-1">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="section-action delete-section" (click)="deleteSection(i)">
                        <i class="fas fa-trash"></i>
                    </div>
                </div>
            </div>

            <!-- * Doc section components -->

            <div class="section-editor">
                <app-doc-section-markdown *ngIf="section.type === 'markdown'" [section]="section"
                    (changeEvent)="section.content = $event.content; onSectionChange()">
                </app-doc-section-markdown>
                <app-doc-section-draw *ngIf="section.type === 'draw'" [section]="section"
                    (changeEvent)="section.content = $event.content; onSectionChange()"></app-doc-section-draw>
            </div>
        </div>

        <div class="add-section">
            <h3>Add section</h3>
            <div class="add-button-row">
                <a class="add-button markdown" (click)="addSection('markdown')">
                    <i class="fab fa-markdown"></i>
                    <span>Markdown</span>
                </a>
                <a class="add-button draw" (click)="addSection('draw')">
                    <i class="fas fa-pencil-alt"></i>
                    <span>Drawing</span>
                </a>
                <!-- <a class="add-button happy" (click)="addSection('happy')">
                    <i class="fas fa-smile"></i>
                    <span>Happiness</span>
                </a> -->
            </div>
        </div>

    </div>
</div>

<app-page-loader *ngIf="fetching"></app-page-loader>
<app-page-fetch-err *ngIf="res && !res.success"></app-page-fetch-err>
<app-page-unauthed *ngIf="!fetching && res.data && res.data.note.author !== api.session.user_id">
</app-page-unauthed>
