.list-item {
  // Get rid of all button styles
  width: 100%;
  padding: 0;
  margin-bottom: var(--margin);

  text-align: left;
  font-family: inherit;
  font-size: 1rem;

  background: var(--item-background);
  color: #fff;
  border: none;
  box-shadow: var(--shadow);

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  border-radius: var(--border-radius);
  cursor: pointer;

  transition: filter var(--transition);

  &.compact {
	.right {
	  display: none;
	}
  }
}

.tags {
  &.inline {
	display: inline-block;
  }

  &:not(.inline) {
	display: block;
	margin-top: 4px;
  }

  .tag {
	display: inline-block;

	background: var(--color-text);
	color: var(--color-text-inverted);
	font-weight: bold;

	margin-right: var(--margin);
	padding: 0 2px;

	border-radius: 4px;
  }
}


.action {
  visibility: hidden;
  opacity: 0;
  padding: 0 var(--margin-big);

  transition: visibility 0s, opacity var(--transition);

  @media screen and (max-width: 640px) {
	display: none;
  }

  &.edit:hover {
	color: var(--color-lblue);
  }

  &.delete:hover {
	color: var(--color-red);
  }

  &.share:hover {
	color: var(--color-green);
  }

  &.more:hover {
	color: var(--color-purple);
  }
}

.note-date {
  opacity: 0.75;
  font-size: 14px;

  &.mobile {
	display: none;
  }

  @media screen and (max-width: 640px) {
	&.mobile {
	  display: block;
	}
	&.desktop {
	  display: none;
	}
  }
}

.left,
.right {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.left {
  justify-content: flex-start;
  justify-self: flex-start;

  width: 100%;

  padding: var(--margin-big);
  padding-right: 0;

  .props {
	.prop {
	  display: inline-block;
	  width: 32px;
	  text-align: center;

	  i {
		margin-right: 4px;
	  }
	}

	.prop-private {
	  color: var(--color-orange);
	}

	.prop-invisible {
	  color: var(--color-yellow);
	}

	.prop-published {
	  color: var(--color-green);
	}

	.prop-encrypted {
	  color: var(--color-cyan);
	}

	.prop-news-post {
	  color: var(--color-purple);
	}
  }

  .note-icon {
	i {
	  margin-left: var(--margin);
	  transform: scale(1.5);

	  &.type-text {
		color: var(--color-blue);
	  }

	  &.type-draw {
		color: var(--color-yellow);
	  }
	}
  }

  .note-name {
	margin-left: var(--margin-big);
	padding-right: var(--margin-big);

	word-break: break-word;
  }
}

.right {
  flex-shrink: 0;

  div {
	padding: var(--margin-big);

	&:last-child {
	  padding-right: var(--margin-big);
	}
  }

  .note-date {
	width: fit-content;
	justify-self: flex-end;
	word-wrap: none;
	word-break: keep-all;
  }
}

.float-bar {
  position: fixed;
  display: none;
  padding-left: var(--margin);

  @media screen and (max-width: 640px) {
	display: none !important;
  }

  &:hover {
	height: 46px;
	display: block;
  }

  .inner {
	border-radius: var(--border-radius);
	background: var(--color-background-l1);
	box-shadow: var(--shadow);

	height: 46px;
	display: flex;
	align-items: center;

	.actions {
	  display: flex;
	  align-items: center;
	  height: 100%;

	  & > * {
		padding: 0 var(--margin-big);
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
		  cursor: pointer;
		}
	  }

	  .edit:hover {
		color: var(--color-lblue);
	  }

	  .delete:hover {
		color: var(--color-red);
	  }

	  .share:hover {
		color: var(--color-green);
	  }

	  .more:hover {
		color: var(--color-purple);
	  }
	}

	.time {
	  padding: 0 var(--margin-big);
	}
  }
}

.wrap {
  &:hover {
	.list-item, .list-item {
	  filter: var(--filter-hover);
	}

	.float-bar {
	  display: block;
	  filter: var(--filter-hover);
	}
  }
}
