<div class="wrap" (mouseover)="adjustFloatBarPosition()">
	<button #item (contextmenu)="openProps()" (keypress)="keyControl($event)" [class.compact]="compact" class="list-item">
		<div [routerLink]="['/n/' + note.id]" class="left">
			<div class="note-icon">
				<i *ngIf="note.type === 'doc'" class="type-text fas fa-file"></i>
				<i *ngIf="note.doc && note.doc.head.type === 'doc'" class="type-text fas fa-file"></i>
			</div>
			<div class="note-name">
            <span class="props">
                <!-- prop = property -->
                <span *ngIf="note.access === 0" class="prop prop-private">
                    <i class="fas fa-lock" hide-delay="0" tooltip="Private<br>(only you have access to it)"></i>&nbsp;
                </span>

                <span *ngIf="note.access === 1" class="prop prop-invisible">
                    <i class="fas fa-eye-slash" hide-delay="0"
					   tooltip="Invisible<br>(accessible with a link)"></i>&nbsp;
                </span>

                <span *ngIf="note.access === 3" class="prop prop-published">
                    <i class="fas fa-globe-americas" hide-delay="0" tooltip="Published"></i>&nbsp;
                </span>
                
                <span *ngIf="note.encrypted" class="prop prop-encrypted">
                    <i class="fas fa-key" hide-delay="0" tooltip="Encrypted"></i>&nbsp;
                </span>

                <span *ngIf="note.news_post" class="prop prop-news-post">
                    <i class="fas fa-newspaper" hide-delay="0" tooltip="News post"></i>&nbsp;
                </span>
            </span>

				<span *ngIf="noteTags.length > 0" class="tags inline">
                <span *ngFor="let tag of noteTags" [style.background]="tag.color" class="tag">{{tag.name}}</span>
            </span>

				{{note.title}}
			</div>
		</div>

		<div class="right">
			<div *ngIf="note.author === api.session.user_id" [routerLink]="['/n/' + note.id + '/edit']"
				 class="action edit"
				 hide-delay="0" tooltip="Edit"><i class="fas fa-pen"></i></div>

			<div (click)="deleteNote()" *ngIf="note.author === api.session.user_id" class="action delete"
				 hide-delay="0"
				 tooltip="Delete"><i class="fas fa-trash"></i></div>

			<div (click)="copyText(baseAddress + '/n/' + note.id)" [tooltip]="(note.access.private) ?
            'Copy link<br>(private note!)' :
            'Copy link'" class="action share" hide-delay="0">
				<i class="fas fa-link"></i></div>

			<div (click)="openProps()" *ngIf="note.author === api.session.user_id" class="action more" hide-delay="0"
				 tooltip="More"><i class="fas fa-ellipsis-h"></i></div>

			<div [tooltip]="modifiedAtDateString" class="note-date desktop" hide-delay="0">{{modifiedAtString}}</div>
			<div class="note-date mobile">{{modifiedAtStringMobile}}</div>
		</div>
	</button>

	<div #floatbar class="float-bar">
		<div class="inner">
			<div class="actions">
				<div *ngIf="note.author === api.session.user_id" [routerLink]="['/n/' + note.id + '/edit']"
					 class="edit" hide-delay="0" tooltip="Edit"><i class="fas fa-pen"></i></div>

				<div *ngIf="note.author === api.session.user_id" (click)="deleteNote()"
					 class="delete" hide-delay="0" tooltip="Delete"><i class="fas fa-trash"></i></div>

				<div (click)="copyText(baseAddress + '/n/' + note.id)"
					 class="share" hide-delay="0" tooltip="Copy link"><i class="fas fa-link"></i></div>

				<div *ngIf="note.author === api.session.user_id" (click)="openProps()"
					 class="more" hide-delay="0" tooltip="Properties"><i class="fas fa-ellipsis-h"></i></div>
			</div>

			<div class="time">
				<div [tooltip]="modifiedAtDateString" class="note-date desktop" hide-delay="0">{{modifiedAtString}}</div>
				<div class="note-date mobile">{{modifiedAtStringMobile}}</div>
			</div>
		</div>
	</div>
</div>
