<div class="head">
    <i class="fas fa-exclamation-triangle"></i>
    <br>
    <br>
    Failed to automatically log in. <br>
    Please check your internet connection and try again

    <br>
    <br>

    <app-item *ngIf="!fetching" [data]="{label: 'Retry automatic login', icon: 'fas fa-sync'}" (click)="retryAL()">
    </app-item>

    <i class="fas-fa-circle-notch loader"></i>
</div>
