<div class="bar">
    <div class="left">

    </div>
    <div class="right">
        <div class="button">
            <div class="inner">
                <div class="main">
                    <i class="fas fa-sort-amount-down"></i>
                    <span class="label">Last updated</span>
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>

        <div class="button" (click)="openListGroupingOverlay()">
            <div class="inner">
                <div class="main">
                    <i class="fas fa-layer-group"></i>
                    <span class="label" *ngIf="groupingMode === 'none'">No grouping</span>
                    <span class="label" *ngIf="groupingMode === 'tags'">Tags</span>
                    <span class="label" *ngIf="groupingMode === 'access'">Access</span>
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
    </div>
</div>