.bar {

    display: flex;
    justify-content: space-between;

    .left,
    .right {
        display: flex;
    }
}

.right {
    display: flex;
}

.button {
    transition: filter var(--transition);

    .inner {
        width: fit-content;
    }

    .main {
        display: flex;
        padding: var(--margin-big);
        background: var(--color-background-l1);
        border-radius: var(--border-radius);
        cursor: pointer;

        i:last-child {
            justify-self: flex-end;
        }
    }

    select {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .dropdown-item {
        padding: var(--margin-big);
        border-radius: var(--border-radius);

        cursor: pointer;

        &.active {
            color: var(--color-accent);
        }
    }

    i {
        font-size: 18px;
        &:not(:first-child) {
            margin-left: var(--margin);
        }
        &:not(:last-child) {
            margin-right: var(--margin);
        }
    }

    &:hover {
        filter: var(--filter-hover);
    }

    &:not(:last-child) {
        margin-right: var(--margin-big);
    }
}

.category-label {
    text-align: center;
    width: 100%;
    color: var(--color-gray);
}
