canvas {
    width: 100%;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    padding: var(--margin-big);

    background: var(--color-background-l2);
    border-radius: var(--border-radius);

    .button {
        background: var(--color-background-l3);
        border-radius: var(--border-radius);
        
        padding: var(--margin) var(--margin-big);

        transition: filter var(--transition);

        &.disabled {
            background: var(--color-background-l1);
            color: var(--color-gray);
        }
        
        &:not(.disabled) {
            cursor: pointer;
        }

        &:not(.disabled):hover {
            filter: var(--filter-hover);
        }
    }
}
