<canvas #canvas></canvas>

<div class="toolbar" *ngIf="!readOnly">
    <div class="button undo" [class.disabled]="!section.content" (click)="undo()">
        <i class="fas fa-undo"></i> Undo
    </div>
</div>