<div class="overlay-content">
    <div class="main">
        <div class="inputs">
            <app-item-input [(value)]="title" (valueChange)="onInputChange()" (submit)="onSubmit()" [data]="{
                placeholder: 'Note title',
                focus: true
            }"></app-item-input>
        </div>
            
        <app-item *ngIf="!loading" [data]="{
            label: 'Create & Edit',
            style: 'submit',
            disabled: !dataValid
        }" (click)="onSubmit()"></app-item>

        <div *ngIf="loading" class="loader">
            <i class="fas fa-circle-notch"></i>
        </div>
    </div>
</div>