@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.overlay-content {
    position: fixed;
    left: calc(64px + var(--margin-big));
    top: 64px;

    border-radius: 6px;
    padding: 0 var(--margin-big);

    z-index: 99;

    height: min-content;

    @media screen and (max-width: 640px) {
        top: auto;
        left: 0;
        bottom: 64px;
        width: calc(100% - var(--margin-big) * 2);
    }

    .head {
        display: flex;
        height: 64px;
        align-items: center;

        h1 {
            margin: 0;
        }
    }

    .inputs {
        margin-bottom: var(--margin);
    }
}

.loader {
    i {
        animation: .75s loader linear infinite;
        font-size: 28px;
        margin-top: calc((46px - 28px) / 2);
    }

    text-align: center;
    height: var(--item-height);
}
