<div class="overlay-content">
    <h1>Markdown guide</h1>
    <p>When you edit a note in Noter, you will be using markdown. Unlike other text editors you may have used in the past, in markdown you write in plain text and add some formatting marks. Note that this can require some getting used to.</p>

    

    <h2>How to use this guide</h2>

    <code>
        *Syntax in* **markdown**
    </code>

    <div class="result">
        <i>What will it</i> <b>produce</b>
    </div>


    <h2>Headings</h2>

    <code>
        # Heading <br>
        ## Sub-heading <br>
        ### Even subber heading
    </code>

    <div class="result">
        <h1>Heading</h1>
        <h2>Sub-heading</h2>
        <h3>Even subber heading</h3>
    </div>
</div>