<div class="notifs">
    <div *ngFor="let notif of notifs" class="notif" [ngStyle]="{'background': notif.color}" [class.dying]="notif.dying">
        <div class="icon" (click)="dismissNotifManually(notif)" [class.disable-closing]="notif.disableClosing">
            <i [attr.class]="notif.icon + ' notif-icon'" *ngIf="!notif.wasDismissedManually"></i>
            <i class="fas fa-times close-icon" [class.show]="notif.wasDismissedManually"></i>
        </div>
        <div class="main">
            <div markdown class="details no-md-margin" [data]="notif.details"></div>

            <div class="actions" *ngIf="notif.actions">
                <div class="action" *ngFor="let action of notif.actions" (click)="executeAction(notif, action)">{{action.name}}</div>
            </div>
        </div>
    </div>

    <div class="controls" *ngIf="notifs.length > 0">
        <app-item (click)="dismissAll()" [data]="{
            icon: 'fas fa-trash',
            label: 'Clear all',
            margin: 'none'
        }"></app-item>
    </div>
</div>
