@keyframes notif-enter {
    0% {
        opacity: 0;
        transform: translateY(12px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes notif-enter-icon {
    0% {
        width: 48px;
    }

    100% {
        width: 48px;
    }
}

@keyframes notif-exit {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-12px);
    }
}

@keyframes notif-exit-icon {
    0% {
        width: 48px;
    }

    100% {
        width: 48px;
    }
}


.notifs {
    position: fixed;
    bottom: calc(var(--margin-big) * 2);
    right: calc(var(--margin-big) * 2);
    width: calc(100% - 64px - var(--margin-big));
    max-width: 512px;
    z-index: 4096;

    @media screen and (max-width: 640px) {
        bottom: calc(var(--margin-big) + 64px);
        left: var(--margin-big);

        width: calc(100% - var(--margin-big) * 2);
    }
}

.controls {
    margin-top: calc(var(--margin) * 2);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 640px) {
        display: none;
    }

    a {
        color: var(--color-text);
        opacity: 0.85;
        transition: opacity var(--transition);
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

.notif {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background: var(--color-blue);
    border-radius: var(--border-radius);
    margin-top: var(--margin);

    box-shadow: var(--shadow);

    animation: .5s notif-enter ease;

    &.dying {
        animation: .5s notif-exit ease;

        .icon {
            animation: .5s notif-exit-icon ease;
        }
    }

    .close-icon {
        display: none;
    }

    @media screen and (max-width: 640px) {
        .notif-icon {
            display: none;
        }

        .close-icon {
            display: initial;
        }
    }

    &:hover {
        .notif-icon {
            display: none;
        }

        .close-icon {
            display: initial;
        }
    }

    .icon {
        width: 48px;
        padding: var(--margin-big) 0;
        margin-left: 2px;

        //animation: .5s notif-enter-icon ease;
        color: var(--color-background);
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        &.disable-closing {
            cursor: default;
            .close-icon {
                display: none;
            }
            .notif-icon {
                display: initial;
            }
        }

        .close-icon.show {
            display: initial;
        }
    }

    .main {
        /* display: flex;
        flex-wrap: nowrap;
        flex-direction: row; */
        width: 100%;
        background: var(--color-background-l2);

        padding: var(--margin-big);
        margin: 2px;

        border-radius: var(--border-radius);



        .details {
            width: 100%;
            white-space: pre-line;
            word-break: break-word;

            * {
                margin: 0 !important;
                padding: 0 !important;
            }
        }

        .actions {
            margin-top: var(--margin-big);
        }
        .action {
            width: calc(100% - var(--margin-big) * 2);
            padding: var(--margin-big);
            text-align: center;

            background: var(--color-background-l3);
            border-radius: var(--border-radius);

            transition: filter var(--transition);

            cursor: pointer;

            &:hover {
                filter: var(--filter-hover);
            }
        }
    }
}
