@keyframes logo-anim-glow {
    0% {
        fill: var(--color-cyan);
    }

    50% {
        fill: var(--color-lblue);
    }

    100% {
        fill: var(--color-cyan);
    }
}

@keyframes progress-down-anim {
    0% {
        transform: scaleY(0) translateY(0%);
    }

    50% {
        transform: scaleY(1) translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes progress-up-anim {
    0% {
        transform: scaleY(0) translateY(0%);
    }

    50% {
        transform: scaleY(1) translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes progress-down-mobile-anim {
    0% {
        transform: scaleX(0) translateX(0%);
    }

    50% {
        transform: scaleX(1) translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes progress-up-mobile-anim {
    0% {
        transform: scaleX(0) translateX(0%);
    }

    50% {
        transform: scaleX(1) translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

nav.desktop {
    width: 64px;
    height: calc(100vh);
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    z-index: 94;

    background: rgba(0, 0, 0, 0.7); // TODO: move this to vars!
    backdrop-filter: var(--filter-blur);
    box-shadow: var(--shadow);

    @media screen and (max-width: 640px) {
        display: none;
    }

    &.fetching-down {
        background: rgba(0, 128, 255, 0.7); // TODO: move this to vars!
    }

    &.fetching-up {
        background: rgba(64, 255, 0, 0.7); // TODO: move this to vars!
    }

    div {
        width: 64px;
    }

    .progressbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 4px;
        height: 100vh;

        filter: var(--filter-blur);

        background-color: var(--color-blue);

        &.up {
            background-color: var(--color-purple);

            .inner {
                background-color: var(--color-pink);
                animation: 1s ease progress-up-anim infinite;
            }
        }

        .inner {
            height: 100%;
            width: 100%;
            background-color: var(--color-lblue);

            animation: 1s ease progress-down-anim infinite;
        }
    }

    .logo {
        width: calc(64px - 8px * 2);
        height: calc(64px - 8px * 2);

        padding: 8px;

        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;

            #path-eraser {
                fill: var(--color-lblue);
            }

            #path-main {
                fill: url(#grad);
            }

            #path-triangle {
                fill: var(--color-cyan);
            }

            //animation: 6s logo-anim-glow infinite;
        }
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .link {
            width: 100%;
            height: 64px;

            text-align: center;
            color: var(--color-text);

            cursor: pointer;

            transition: filter var(--transition), color var(--transition);

            &:not(.active):hover {
                filter: var(--filter-hover-inverted);
            }

            &.active {
                color: var(--color-accent);
            }

            i {
                // For FA icons
                margin-top: 50%;
                transform: translateY(-50%);
                font-size: 22px;
            }

            .loader-wrapper {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;

                i {
                    margin-top: 0 !important;
                }
            }
        }

        .divider {
            width: calc(100% - 2 * 8px);
            height: 2px;
            margin: 0 var(--margin);
            background: var(--color-gray);
            border-radius: 2px;
        }

        .links-bottom {
            position: absolute;
            bottom: 0;
        }
    }
}

nav.mobile {
    display: none;

    @media screen and (max-width: 640px) {
        display: block;
    }

    .progressbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 4px;
        z-index: 100;

        filter: var(--filter-blur);

        background-color: var(--color-blue);

        &.up {
            background-color: var(--color-purple);

            .inner {
                background-color: var(--color-pink);
                animation: 1s ease progress-up-mobile-anim infinite;
            }
        }

        .inner {
            height: 100%;
            width: 100%;
            background-color: var(--color-lblue);

            animation: 1s ease progress-down-mobile-anim infinite;
        }
    }

    .bottom {
        width: 100%;
        height: 64px;

        position: fixed;
        left: 0;
        bottom: 0;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;

        z-index: 94;

        background: rgba(0, 0, 0, 0.7); // TODO: move this to vars!
        backdrop-filter: var(--filter-blur);
        box-shadow: var(--shadow);

        .link {
            width: 64px;
            height: 100%;

            text-align: center;
            color: var(--color-text);

            cursor: pointer;

            transition: filter var(--transition), color var(--transition);

            &:not(.active):hover {
                filter: var(--filter-hover-inverted);
            }

            &.active {
                color: var(--color-accent);
            }

            i {
                // For FA icons
                margin-top: 50%;
                transform: translateY(-50%);
                font-size: 22px;
            }
        }


    }
}

.cover {
    background: linear-gradient(to right, var(--color-background), rgba(0, 0, 0, 0.25));

    @media screen and (max-width: 640px) {
        background: rgba(0, 0, 0, 0.75);
    }

    position: fixed;
    z-index: 88;

    top:0;
    left: -100vw;

    @media screen and (max-width: 640px) {
        left: 0;
        top: 100vh
    }

    width: 100%;
    height: 100%;

    opacity: 0;

    transition: transform var(--transition),
    opacity var(--transition);

    &.active {
        transform: translateX(100vw);

        @media screen and (max-width: 640px) {
            transform: translateY(-100vh);
        }

        opacity: 1;
    }
}
