<nav class="desktop">

	<div *ngIf="stateService.apiFetching.fetching" [ngClass]="
        {
            'down': stateService.apiFetching.direction === 'down',
            'up': stateService.apiFetching.direction === 'up'
        }
    " class="progressbar">
		<div class="inner"></div>
	</div>

	<div [routerLink]="['']" class="logo" hide-delay="0" placement="right" tooltip="Go home">
		<svg height="25mm" id="svg-logo" version="1.1" viewBox="0 0 25 25" width="25mm"
			 xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#"
			 xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">

			<defs>
				<linearGradient id="grad" x1="0" x2="1" y1="1" y2="0">
					<stop offset="0%" stop-color="var(--color-cyan)"/>
					<stop offset="100%" stop-color="var(--color-lblue)"/>
				</linearGradient>
			</defs>

			<svg:g transform="translate(-99.104 -125)">
				<svg:g transform="translate(4.3722 -3.2037)">
					<svg:path
							d="m382.92 496.66c-1.92 0-3.4871 0.19217-4.7031 0.57617-1.216 0.384-2.1452 1.1507-2.7852 2.3027-0.576 1.088-0.86328 2.8492-0.86328 5.2812v43.695h16.897v-21.615c4.544 5.888 14.016 18.431 28.416 37.631 0.64 0.832 1.4384 1.4402 2.3984 1.8242 0.96 0.38398 2.6896 0.57617 5.1856 0.57617 4.096 0 6.5903-0.8638 7.4863-2.5918 0.512-0.96 0.80123-1.7921 0.86523-2.4961 0.128-0.704 0.19141-1.8234 0.19141-3.3594v-43.418h-16.896v22.201c-4.544-5.888-13.568-18.015-27.072-36.383-1.216-1.472-1.951-2.3041-2.207-2.4961-0.448-0.448-1.2484-0.83235-2.4004-1.1524-1.088-0.384-2.5917-0.57617-4.5117-0.57617z"
							id="path-main"
							transform="scale(.26458)"/>
					<svg:path
							d="m427.27 496.66c-1.792 0-3.2957 0.19217-4.5117 0.57617s-2.1432 1.1507-2.7832 2.3027c-0.576 1.088-0.86523 2.8492-0.86523 5.2812v6.4668h16.896v-6.084c0-2.24-0.19217-3.8705-0.57617-4.8945-0.256-0.896-0.67205-1.5696-1.248-2.0176-0.512-0.448-1.3441-0.83039-2.4961-1.1504-1.088-0.32-2.56-0.48047-4.416-0.48047z"
							id="path-eraser"
							transform="scale(.26458)"/>
					<svg:path d="m103.55 147.38-7.4091 2.5738 0.73778-3.8517 0.73779-3.8517 2.9668 2.5648z"
							  id="path-triangle"
							  transform="matrix(.43131 -.37259 .37259 .43131 4.0001 121.15)"/>
				</svg:g>
			</svg:g>
		</svg>
	</div>

	<div class="links">
		<div class="links-top">

			<div (click)="overlayAction('new-note')" *ngIf="isLoggedIn"
				 [class.active]="overlayService.overlayShown === 'new-note'"
				 class="link" hide-delay="0" placement="right"
				 tooltip="New note">
				<i class="fas fa-plus"></i>
			</div>

			<div (click)="overlayAction('open')" [class.active]="overlayService.overlayShown === 'open'"
				 class="link" hide-delay="0" placement="right"
				 routerLinkActive="active" tooltip="Open"><i class="fas fa-folder"></i></div>

			<div (click)="overlayAction('search')"
				 [class.active]="overlayService.overlayShown === 'search'"
				 class="link" hide-delay="0" placement="right"
				 tooltip="Search">
				<i class="fas fa-search"></i>
			</div>

			<div *ngIf="isLoggedIn" class="links-tasks">

				<div (click)="overlayAction('tasks')" [class.active]="overlayService.overlayShown === 'tasks'"
					 class="link"
					 hide-delay="0" placement="right" routerLinkActive="active"
					 tooltip="Tasks">
					<i class="fas fa-tasks"></i>
				</div>
			</div>

		</div>

		<div class="links-bottom">
			<!-- * DEBUG LOGS -->
			<div (click)="overlayAction('debug')" *ngIf="overlayService.overlayShown === 'debug' || settings.values.debug_enabled"
				 [class.active]="overlayService.overlayShown === 'debug'"
				 class="link" hide-delay="0" placement="right"
				 tooltip="Noter debug console">
				<i class="fas fa-bug"></i>
			</div>


			<div (click)="overlayAction('login')" *ngIf="!isLoggedIn && !api.loggingIn"
				 [class.active]="overlayService.overlayShown === 'login'"
				 class="link" hide-delay="0" placement="right"
				 tooltip="Log in">
				<!-- (mouseover)="showPopup('login')" (mouseout)="hidePopup('login')"-->
				<i class="fas fa-sign-in-alt"></i>
			</div>

			<div (click)="overlayAction('account')" *ngIf="isLoggedIn && !api.loggingIn"
				 [class.active]="overlayService.overlayShown === 'account'"
				 [tooltip]="api.username" class="link" hide-delay="0"
				 placement="right">
				<i class="fas fa-user"></i>
			</div>

			<div *ngIf="api.loggingIn" class="link" hide-delay="0" placement="right" tooltip="Trying to log in...">
				<div class="loader-wrapper">
					<i class="fas fa-circle-notch loader"></i>
				</div>
			</div>

			<div (click)="overlayAction('settings')" [class.active]="overlayService.overlayShown === 'settings'"
				 class="link" hide-delay="0" placement="right"
				 tooltip="Settings">
				<i class="fas fa-cog"></i>
			</div>
		</div>
	</div>
</nav>


<nav *ngIf="!device.isSoftKeyboardOpen" class="mobile">
	<div *ngIf="stateService.apiFetching.fetching" [ngClass]="
        {
            'down': stateService.apiFetching.direction === 'down',
            'up': stateService.apiFetching.direction === 'up'
        }" class="progressbar">
		<div class="inner"></div>
	</div>

	<!-- Hide mobile navbar when keyboard open-->
	<div *ngIf="!overlayService.overlayShown" class="bottom">

		<div (click)="overlayAction('open')"
			 class="link" routerLinkActive="active"><i class="fas fa-folder"></i>
		</div>

		<div (click)="overlayAction('search')" class="link" routerLinkActive="active"><i
				class="fas fa-search"></i></div>

		<div [routerLink]="['']" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-home"></i>
		</div>

		<div (click)="overlayAction('tasks')" *ngIf="isLoggedIn"
			 class="link">
			<i class="fas fa-tasks"></i>
		</div>

		<div (click)="overlayAction('account')" *ngIf="isLoggedIn"
			 class="link">
			<i class="fas fa-user"></i>
		</div>
		<div (click)="overlayAction('login')" *ngIf="!isLoggedIn"
			 class="link">
			<i class="fas fa-sign-in-alt"></i>
		</div>
		<div (click)="overlayAction('settings')" *ngIf="!isLoggedIn"
			 class="link">
			<i class="fas fa-cog"></i>
		</div>
	</div>
	<div *ngIf="overlayService.overlayShown" class="bottom popup-close">
		<div (click)="overlayService.cancelOverlay()" class="link"><i class="fas fa-times"></i></div>
	</div>
</nav>
