<div class="overlay-content">
	<div class="head" *ngIf="res && res.success">
		<h1>
			{{res.data.username}}
			<app-user-badges [badges]="res.data.badges"></app-user-badges>
		</h1>
		<p>{{res.data.description}}</p>
	</div>

	<div class="stats">
		<h2>Stats</h2>
		<div *ngIf="res && res.success">
			<app-item
					[data]="{label: 'Joined', endLabel: createdAtDelta, icon: 'fas fa-door-open', notInteractive: true}"></app-item>
			<app-item
					[data]="{label: 'Last active', endLabel: activeAtDelta, icon: 'fas fa-flag', notInteractive: true}"></app-item>
		</div>
		<app-placeholder-loader *ngIf="fetching"></app-placeholder-loader>
	</div>

	<div class="notes">
		<h2>Notes</h2>
		<app-overlay-section-user-notes [userId]="data.userId"></app-overlay-section-user-notes>
	</div>


</div>
