@keyframes logo-anim-enter {
    0% {
        stroke-dashoffset: 312;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes logo-anim-glow {
    0% {
        stroke: var(--color-cyan);
    }
    
    50% {
        stroke: var(--color-lblue);
    }

    100% {
        stroke: var(--color-cyan);
    }
}



#logo {
    height: 128px;
    width: 128px;
    path {
        fill: #000;
        animation: 1s logo-anim-enter ease, 2s logo-anim-glow linear infinite;
        stroke-dasharray: 312;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}