h1, h2 {
    margin-bottom: var(--margin);
}

.badges {
    & > span {
        margin-left: var(--margin);
    }

    .dev {
        color: var(--color-pink);
    }

    .verified {
        color: var(--color-lblue);
    }

    .alpha-tester {
        color: var(--color-gray);
    }
}
