<div class="overlay-content">
	<div class="online" *ngIf="res && res.success">
		<div class="head">
			<h1>
				{{username}}
				<app-user-badges [badges]="res.data.badges"></app-user-badges>
			</h1>
		</div>

		<p>{{res.data.description}}</p>
		<h2>Stats</h2>
		<app-item
				[data]="{label: 'Joined', endLabel: createdAtDelta, icon: 'fas fa-door-open', notInteractive: true}"></app-item>
		<app-item
				[data]="{label: 'Last active', endLabel: activeAtDelta, icon: 'fas fa-flag', notInteractive: true}"></app-item>
	</div>

	<app-placeholder-loader *ngIf="fetching"></app-placeholder-loader>

	<h2>Actions</h2>

	<app-item (click)="openSettings()" [data]="{
        label: 'Settings',
        icon: 'fas fa-cog',
        expandable: true
    }">
	</app-item>

	<app-item [data]="{
        label: 'Change password (not done yet)',
        icon: 'fas fa-key'
    }">
	</app-item>

	<app-item (click)="deauthAllSessions()" [data]="{
        label: 'Log out from all devices',
        icon: 'fas fa-user-slash',
        style: 'danger'
    }">
	</app-item>

	<app-item (click)="logOut()" [data]="{
        label: 'Log out',
        icon: 'fas fa-sign-out-alt',
        style: 'danger'
    }">
	</app-item>
</div>
