<div class="page container" *ngIf="fetchFinished">
    <div class="hero" *ngIf="data">
        <div class="row">
            <div class="col">
                <h1>{{data.profile.username}}</h1>
                <div class="badges">
                    <div class="badge dev" *ngIf="data.profile.badges.includes('dev')" tooltip="Noter developer"
                        hide-delay="0" placement="bottom">
                        &lt;DEV&gt;
                    </div>

                    <div class="badge verified" *ngIf="data.profile.badges.includes('verified')" tooltip="Verified"
                        hide-delay="0" placement="bottom">
                        &lt;VERIFIED&gt;
                    </div>

                    <div class="badge alpha-tester" *ngIf="data.profile.badges.includes('alpha_tester')"
                        tooltip="Made Noter better during the alpha phase" hide-delay="0" placement="bottom">
                        &lt;ALPHA_TESTER&gt;
                    </div>
                </div>

                <br>

                <p class="description">{{data.profile.description}}</p>
<!-- 
                <br>

                <p *ngIf="data.notes !== false">
                    <b>{{data.notes.length}}</b> note{{data.notes.length === 1 ? '' : 's'}}
                </p> -->
            </div>

            <div class="col">
                <app-item [data]="{label: 'Joined', endLabel: createdAtDelta, icon: 'fas fa-door-open', notInteractive: true}"></app-item>
                <app-item [data]="{label: 'Last active', endLabel: activeAtDelta, icon: 'fas fa-flag', notInteractive: true}"></app-item>
                <app-item *ngIf="data.notes != false" [data]="{label: 'Notes', endLabel: data.notes.length, icon: 'fas fa-file-alt', notInteractive: true}"></app-item>
            </div>
        </div>
    </div>

    <div class="main" *ngIf="data">
        <!-- <div class="menubar">
            <div class="view-mode" *ngIf="this.data.notes">
                <span>View mode: </span>
                <i class="fas fa-clock" (click)="displayMode = 'recent'" [class.active]="displayMode === 'recent'"></i>
                <i class="fas fa-tags" (click)="displayMode = 'tags'" [class.active]="displayMode === 'tags'"></i>

            </div>
        </div> -->

        <app-filter-bar *ngIf="data.notes != false" [sortingMode]="sortingMode" [groupingMode]="groupingMode" (change)="barChange($event)"></app-filter-bar>

        <!-- * No grouping -->

        <div class="note-container" *ngIf="data.notes !== false && groupingMode === 'none'">
            <app-list-item-note (noteUpdate)="noteUpdate()" *ngFor="let note of data.notes" [note]="note"
                [availableTags]="data.tags"></app-list-item-note>
        </div>

        <!-- * Tag grouping -->

        <div class="note-container" *ngIf="data.notes !== false && groupingMode === 'tags'">
            <div class="tag-group" *ngFor="let tagGroup of tagGroups">
                <h2 [style.color]="tagGroup.tag.color">
                    {{tagGroup.tag.name}}</h2>

                <app-list-item-note (noteUpdate)="noteUpdate()" *ngFor="let note of tagGroup.notes" [note]="note"
                    [availableTags]="data.tags"></app-list-item-note>
            </div>
        </div>

        <!-- * Access grouping -->

        <div class="note-container" *ngIf="data.notes !== false && groupingMode === 'access'">
            <div class="access-group">
                <h2 style="color: var(--color-green)">Published</h2>

                <app-list-item-note (noteUpdate)="noteUpdate()" *ngFor="let note of accessGroups.published" [note]="note"
                    [availableTags]="data.tags"></app-list-item-note>
            </div>

            <div class="access-group">
                <h2 style="color: var(--color-yellow)">Invisible</h2>

                <app-list-item-note (noteUpdate)="noteUpdate()" *ngFor="let note of accessGroups.invisible" [note]="note"
                    [availableTags]="data.tags"></app-list-item-note>
            </div>

            <div class="access-group">
                <h2 style="color: var(--color-orange)">Private</h2>

                <app-list-item-note (noteUpdate)="noteUpdate()" *ngFor="let note of accessGroups.private" [note]="note"
                    [availableTags]="data.tags"></app-list-item-note>
            </div>

            <div class="access-group">
                <h2 style="color: var(--color-lblue)">Not discoverable</h2>

                <app-list-item-note (noteUpdate)="noteUpdate()" *ngFor="let note of accessGroups.nonDiscoverable" [note]="note"
                    [availableTags]="data.tags"></app-list-item-note>
            </div>
        </div>


        <div class="no-notes" *ngIf="data.notes == false">
            <i class="fas fa-file-alt large"></i>
            <p>No notes.</p>
            <p *ngIf="userId === api.session.user_id">Click the <i class="fas fa-plus"></i> in the sidebar to create
                one!</p>
        </div>
    </div>
    <!-- 
    <code>{{data | json}}</code> -->

</div>

<div class="toolbar" *ngIf="userId === api.session.user_id" [class.hide]="hideToolbar">
    <div class="inner">
        <div class="button accent" (click)="openNewNoteOverlay()">
            <i class="fas fa-plus"></i>
            <span class="label">New note</span>
        </div>
    </div>
</div>

<app-page-loader *ngIf="!fetchFinished"></app-page-loader>
<app-page-fetch-err *ngIf="fetchFailed"></app-page-fetch-err>