.page {

    //padding: var(--margin-big);
    @media screen and (max-width: 640px) {
        padding-bottom: 64px;
    }
}

.hero {
    padding-top: 8%;
    padding-bottom: 8%;

    h1 {
        margin: 0;
    }

    @media screen and (max-width: 640px) {
        text-align: center;
    }

    .badges {
        display: flex;

        @media screen and (max-width: 640px) {
            justify-content: center;
            flex-wrap: wrap;

            .badge {
                width: 100%;
            }
        }

        .badge {
            font-family: "code";

            margin-right: var(--margin);

            @media screen and (max-width: 640px) {
                margin-right: 0;
            }

            &.dev {
                color: var(--color-pink);
            }

            &.verified {
                color: var(--color-lblue);
            }

            &.alpha-tester {
                color: var(--color-gray);
            }
        }
    }
}

.no-notes {
    i.large {
        font-size: 48px;
    }
    text-align: center;
}

.menubar {
    display: flex;
    justify-content: flex-end;

    .view-mode {
        span {
            color: var(--color-gray);
        }

        i {
            margin-left: var(--margin);
            font-size: 18px;
            cursor: pointer;

            transition: filter var(--transition), color var(--transition);

            &:hover:not(.active) {
                filter: var(--filter-hover-inverted);
            }

            &.active {
                color: var(--color-accent);
            }
        }
    }
}

.note-container {
    margin: var(--margin-big) 0;

    .tag-group:first-child, .access-group:first-child {
        h2 {
            margin-top: 0;
        }
    }

    .tag-group, .access-group {
        h2 {
            margin-bottom: 0;

            @media screen and (max-width: 640px) {
                text-align: center;
            }
        }
    }
}

// * single button specific
.toolbar {
    position: fixed;
    bottom: var(--margin-big);
    margin-left: auto;
    margin-right: auto;

    padding: 0;

    left: 50%;
    transform: translateX(-50%);

    transition: transform var(--transition);

    display: none; // Don't display on desktop
    @media screen and (max-width: 640px) {
        display: block;
        bottom: calc(64px + var(--margin-big));
        margin-left: 0;


        &.hide {
            transform: translateX(-50%) translateY(128px) !important;
        }

        .inner {
            margin-left: var(--margin-big) !important; // Since there is no sidebar we reset the additional margin here

            .button {
                text-align: center;
            }
        }
    }

    &.hide {
        transform: translateX(-50%) translateY(64px);
    }

    .inner {
        background: var(--color-background-l2);
        box-shadow: var(--shadow);
        border: 2px solid var(--color-accent);

        margin: 0;
        margin-left: calc(var(--margin-big) + 64px); // Because the sidebar
        margin-right: var(--margin-big);

        display: flex;
        justify-content: flex-end;

        height: 48px;
        border-radius: calc(48px / 2);

        .button {
            background: var(--color-background-l2);
            transition: filter var(--transition);
            cursor: pointer;

            padding: var(--margin-big) calc(var(--margin-big) * 2);
            border-radius: calc(48px / 2);

            &.accent {
                background: var(--color-accent);
                color: var(--color-text-inverted);
                margin: -1px; // To get rid of the space between button and .inner border
                //margin-left: 0; // To not interfere with the left button
            }

            &:hover {
                filter: var(--filter-hover);
            }

            * {
                vertical-align: middle;
            }

            i {
                margin-right: var(--margin);
            }
        }
    }
}