.item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    padding: var(--margin-big);
    
    background: var(--item-background);
    border-radius: var(--border-radius);

    transition: filter var(--transition);

    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: var(--margin);
    }

    &:hover {
        filter: var(--filter-hover);
    }

    &.disabled {
        filter: grayscale(1) brightness(.5);
        cursor: default;
        
        &:hover {
            filter: grayscale(1) brightness(.5);
        }
    }

    .label {
        i {
            width: 24px;
            margin-right: var(--margin);
            text-align: center;
            align-self: center;
        }

        display: flex;

        .current-value {
            font-weight: bold;
            color: var(--color-accent);
        }

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &.danger {
            color: var(--color-red);
        }
    }

    &.active {
        background: var(--color-accent) !important;
        color: var(--color-text-inverted);
    }
}

.dropdown-container {
    background: var(--color-background-l2);
    border-radius: var(--border-radius);

    margin-bottom: var(--margin);

    box-shadow: var(--shadow);
}

.drop-items {
    padding: var(--margin);
    padding-top: 0;
    
    .item {
        background: var(--color-background-l3);
    }
}