<div class="dropdown-container">
    <div class="item" (click)="expanded = !expanded">
        <div class="label">
            <i [attr.class]="data.main.icon" *ngIf="data.main.icon"></i>
            <div class="text">
                <span class="name">{{data.main.name}}</span>
                <br>
                <span class="current-value">{{currentValueName}}</span>
            </div>
        </div>
        <i class="arrow fas fa-chevron-down" *ngIf="!expanded"></i>
        <i class="arrow fas fa-chevron-up" *ngIf="expanded"></i>
    </div>

    <div class="drop-items" *ngIf="expanded">
        <div class="item" *ngFor="let item of data.items" [class.active]="settings.values[data.setting] === item.value" (click)="change(item.value)">
            <div class="label">
                <i *ngIf="item.icon"></i>
                <span class="name">{{item.name}}</span>
            </div>
        </div>
    </div>
</div>