<div class="screen">
    <div class="main">

        <app-splash-logo></app-splash-logo>

        <div class="progress">
            <span class="text">{{stateService.splashScreenText}}</span>
        </div>
    </div>
</div>