<div class="overlay-content">
	<div class="main container">
		<div class="inputs">
			<app-item-input (valueChange)="checkEdit()" [(value)]="searchTerm" [data]="{
        placeholder: 'Search',
        focus: true
      }"></app-item-input>
		</div>

		<div *ngIf="res && res.success" class="results">
			<div class="results-section" *ngIf="api.session.token && res.data.user_notes.length > 0">
				<h2>Your notes</h2>
				<app-list-item-note *ngFor="let note of res.data.user_notes" [availableTags]="res.data.tags"
									[note]="note"></app-list-item-note>
			</div>
			<div class="results-section" *ngIf="res.data.published_notes.length > 0">
				<h2>Published notes</h2>
				<app-list-item-note *ngFor="let note of res.data.published_notes" [availableTags]="res.data.tags"
									[note]="note"></app-list-item-note>
			</div>
			<div class="results-section" *ngIf="res.data.users.length > 0">
				<h2>Users</h2>
				<app-list-item-user *ngFor="let user of res.data.users"
									[user]="user"></app-list-item-user>
			</div>
		</div>
	</div>
</div>
