<div class="app" [class.disable-scrollbars]="!settings.values.appearance_show_scrollbars">
  <div class="app-wrapper">
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-overlays></app-overlays>

  <app-notifs></app-notifs>

  <app-splash-screen [class.fade-out-splash]="fadeSplash" *ngIf="showSplash"></app-splash-screen>

  <div class="debug-hud" style="display: none;">
    Noter debug HUD <br>
    Client version: {{settings.noterVersion.text}} <br>
    Session username: {{api.username}} <br>
    API endpoint: {{api.BASE_API_ADDRESS}} <br>
    Recent request: {{api.recentReq}} <br>
    <div class="button" (click)="overlayService.showOverlay('debug')">Open debug console</div>
  </div>
</div>