.app-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;

    background: var(--color-background-app);
}

.page-wrapper {
    padding-left: 64px;

    height: 100vh;
    overflow-y: scroll;

    @media screen and (max-width: 640px) {
        padding-left: 0;
        //padding-bottom: 64px;
        //height: calc(100vh - 64px);
    }

    width: 100%;
}

.debug-hud {
    position: fixed;
    z-index: 2048;
    bottom:0;
    right:0;
    font-family: "code", Arial, Helvetica, sans-serif;
    padding: var(--margin);
    background: rgba(0,0,0,.75);

    .button {
        padding: var(--margin);
        text-align: center;
        background: var(--color-gray);
        margin-top: var(--margin);
        cursor: pointer;
    }
}

app-splash-screen.fade-out-splash {
    transition: opacity .3s ease;
    opacity: 0;
}