// TODO: fix this properly. This is just a workaround for firefox
.overlay-content {
    padding-bottom: 0;

    & > div:last-child {
        padding-bottom: calc(var(--margin-big) * 2);
        @media screen and (max-width: 640px) {
            padding-bottom: calc(64px + var(--margin));
        }
    }
}

.section {
    &:not(:last-child) {
        margin-bottom: var(--margin-big);
    }

    .section-label {
        display: block;
        margin-bottom: var(--margin);
        font-weight: bold;
    }

    &.warning {
        p {
            margin-top: 0;
        }
        color: var(--color-yellow);
    }
}

.foot {
    margin-top: var(--margin-big);
    text-align: center;
    opacity: 0.85;
}
