<div class="overlay-content">
  <div class="head">
    <h1>Settings</h1>
  </div>

  <div class="section warning">
    <h2 class="section-label">Alpha version</h2>

    <p>
      Noter is in active development. Many things may be broken and unfinished. Please, report any issues you encounter
      with the button bellow.
    </p>

    <app-item [data]="{
      label: 'Report an issue',
      icon: 'fas fa-exclamation-circle',
      style: 'report'
    }" (click)="openExternalLink('https://gitlab.com/FajsiEx/noter-client/-/issues/new?issue')">
    </app-item>
  </div>

  <div class="section">
    <h2 class="section-label">Localization</h2>

    <app-setting-dropdown [data]="{
          main: {
            name: 'Language',
            icon: 'fas fa-language'
          },
          setting: 'localization_language',
          items: [
            { name: 'English', value: 'en' },
            { name: 'Slovak (WIP)', value: 'sk' }
          ]
        }">
    </app-setting-dropdown>
  </div>

  <div class="section">
    <h2 class="section-label">Startup</h2>

    <app-setting-dropdown [data]="{
      main: {
        name: 'Splash screen delay',
        icon: 'fas fa-clock'
      },
      setting: 'startup_splash_delay',
      items: [
        { name: 'Fast & don\'t fade out', value: 'ultra' },
        { name: 'Fast load', value: 'fast' },
        { name: 'Wait for the splash animation', value: 'wait' }
      ]
    }">
    </app-setting-dropdown>
  </div>

  <div class="section">
    <h2 class="section-label">Appearance</h2>

    <app-setting-dropdown [data]="{
          main: {
            name: 'Theme',
            icon: 'fas fa-paint-roller'
          },
          setting: 'appearance_theme',
          items: [
            { name: 'Dark', value: 'dark' },
            { name: 'Light (not finished)', value: 'light' }
          ]
        }">
    </app-setting-dropdown>

    <app-setting-dropdown [data]="{
            main: {
              name: 'Background',
              icon: 'fas fa-image'
            },
            setting: 'appearance_app_background',
            items: [
              { name: 'Solid theme color', value: 'plain' },
              { name: 'Accent color', value: 'accent' },
              { name: 'Astronomy Picture of the Day by NASA', value: 'apod' }
            ]
          }">
    </app-setting-dropdown>

    <app-setting-dropdown [data]="{
            main: {
              name: 'Accent color',
              icon: 'fas fa-palette'
            },
            setting: 'appearance_accent_color',
            items: [
              { name: 'Red', value: 'var(--color-red)' },
              { name: 'Orange', value: 'var(--color-orange)' },
              { name: 'Yellow', value: 'var(--color-yellow)' },
              { name: 'Lime', value: 'var(--color-lime)' },
              { name: 'Green', value: 'var(--color-green)' },
              { name: 'Cyan', value: 'var(--color-cyan)' },
              { name: 'Light blue', value: 'var(--color-lblue)' },
              { name: 'Blue', value: 'var(--color-blue)' },
              { name: 'Purple', value: 'var(--color-purple)' },
              { name: 'Pink', value: 'var(--color-pink)' }
            ]
          }">
    </app-setting-dropdown>

    <app-setting-toggle [data]="{
      main: {
        name: 'Blur effects (may impact performance!)',
        icon: 'fas fa-burn'
      },
      setting: 'appearance_blurs'
    }">
    </app-setting-toggle>

    <app-setting-toggle [data]="{
      main: {
        name: 'Show scrollbars',
        icon: 'fas fa-arrows-alt-v'
      },
      setting: 'appearance_show_scrollbars'
    }">
    </app-setting-toggle>

    <app-setting-dropdown [data]="{
          main: {
            name: 'Transition duration',
            icon: 'fas fa-hourglass'
          },
          setting: 'appearance_transition_duration',
          items: [
            { name: 'No transitions', value: 0 },
            { name: 'Fast (.15s)', value: 0.15 },
            { name: 'Slow (.25s)', value: 0.25 },
            { name: 'Veryyyyy slow (.50s)', value: 0.5 }
          ]
        }">
    </app-setting-dropdown>
  </div>

  <div class="section">
    <h2 class="section-label">Editor</h2>

    <app-setting-toggle [data]="{
          main: {
            name: 'Use spellchecker (English only)',
            icon: 'fas fa-spell-check'
          },
          setting: 'editor_spellchecker'
        }">
    </app-setting-toggle>
  </div>

  <div class="section">
    <h2 class="section-label">Privacy</h2>

    <app-setting-toggle [data]="{
          main: {
            name: 'Send analytics and diagnostics',
            icon: 'fas fa-scroll'
          },
          setting: 'privacy_diag'
        }">
    </app-setting-toggle>

    <app-setting-toggle [data]="{
          main: {
            name: 'Track last active time',
            icon: 'fas fa-flag'
          },
          setting: 'privacy_active_time'
        }">
    </app-setting-toggle>
  </div>

  <div class="section">
    <h2 class="section-label">Troubleshooting</h2>

    <p>If Noter is unusable after an update, please use this option</p>
    <app-item [data]="{label: 'Reset everything', icon: 'fas fa-trash', style: 'danger'}" (click)="resetLs()">
    </app-item>
  </div>

  <div class="section">
    <h2 class="section-label">Debug</h2>

    <p *ngIf="!settings.values.debug_enabled">
      <b>Warning!</b><br>
      Enabling the checkbox bellow will unlock debug options.<br>
      By checking this checkbox you agree that any damage caused by the options is your responsibility.
    </p>

    <p *ngIf="settings.values.debug_enabled">
      <b>Warning!</b><br>
      These options are only for debugging.<br>
      Don't touch anything in this section if you are unsure of what you're doing!
      <b style="color: var(--color-red)">Especially the red ones!</b>
    </p>

    <app-setting-toggle [data]="{
          main: {
            name: 'Enable debug mode',
            icon: 'fas fa-bug'
          },
          setting: 'debug_enabled'
        }">
    </app-setting-toggle>

    <div class="debug-options" *ngIf="settings.values.debug_enabled">
      <app-item [data]="{
        label: 'Launch debug overlay',
        icon: 'fas fa-terminal',
        expandable: true
      }" (click)="showDebugOverlay()">
      </app-item>

      <app-item [data]="{
        label: 'Force reload',
        icon: 'fas fa-redo'
      }" (click)="reload()">
      </app-item>

      <app-item [data]="{
        label: 'Contrast item components',
        icon: 'fas fa-adjust'
      }" (click)="theme.contrastItemComponents()">
      </app-item>

      <app-item [data]="{
        label: 'Push test notif',
        icon: 'fas fa-comment-alt'
      }" (click)="pushTestNotif()">
      </app-item>

      <app-item [data]="{
        label: 'Check session validity',
        icon: 'fas fa-passport'
      }" (click)="authCheck()">
      </app-item>

      <app-item [data]="{
        label: 'Set version to ' + settings.noterVersion.resetUnderVersion,
        icon: 'fas fa-angle-down'
      }" (click)="simDg()">
      </app-item>

      <!-- ! danger zone -->
      <app-item [data]="{
        label: 'Set version to 1 (will reset everything!)',
        icon: 'fas fa-angle-double-down',
        style: 'danger'
      }" (click)="simDg(true)">
      </app-item>

      <app-item [data]="{
        label: 'Display session info (may expose you!)',
        icon: 'fas fa-user',
        style: 'danger'
      }" (click)="dumpSessionInfo()">
      </app-item>

      <app-item [data]="{
        label: 'Force auto re-login',
        icon: 'fas fa-retweet',
        style: 'danger'
      }" (click)="forceArl()">
      </app-item>

      <app-item [data]="{
        label: 'Corrupt settings',
        icon: 'fas fa-fire',
        style: 'danger'
      }" (click)="clearStorage('settings')">
      </app-item>

      <app-item [data]="{
        label: 'Wipe localStorage',
        icon: 'fas fa-trash',
        style: 'danger'
      }" (click)="clearStorage('local')">
      </app-item>

      <app-item [data]="{
        label: 'Wipe sessionStorage',
        icon: 'fas fa-trash',
        style: 'danger'
      }" (click)="clearStorage('session')">
      </app-item>
    </div>
  </div>

  <div class="section">
    <h2 class="section-label">About</h2>

    <app-item [data]="{
        label: 'Noter client version',
        endLabel: settings.noterVersion.text,
        icon: 'fas fa-code-branch',
        notInteractive: true,
        style: 'noter-client-gradient'
      }">
    </app-item>

    <app-item [data]="{
        label: 'Noter server version',
        endLabel: (serverInfo) ? serverInfo.version.string : 'N/A',
        icon: 'fas fa-server',
        notInteractive: true,
        style: 'noter-server-gradient'
      }">
    </app-item>

    <app-item [data]="{
        label: 'Angular version',
        endLabel: angularVersion,
        icon: 'fab fa-angular',
        notInteractive: true,
        style: 'angular-gradient'
      }">
    </app-item>

    <app-item [data]="{
        label: 'Open changelog',
        icon: 'fas fa-stream',
        expandable: true
      }" [routerLink]="['/n/5dffb32971de4f00830bc847']">
    </app-item>

  </div>

  <div class="section">
    <h2 class="section-label">Links</h2>

    <app-item [data]="{
        label: 'Stats',
        icon: 'fas fa-chart-bar',
        expandable: true
      }" [routerLink]="['/stats']">
    </app-item>

    <app-item [data]="{
        label: 'Credits',
        icon: 'fas fa-copyright',
        expandable: true
      }" [routerLink]="['/n/5e10cf9afe31f20eb46f9c7f']">
    </app-item>


    <div class="row col-margin-small">
      <app-item class="col" [data]="{
          label: 'Terms of Service',
          icon: 'fas fa-handshake',
          expandable: true
        }" [routerLink]="['/n/5e0296d171de4f00830bc84f']">
      </app-item>

      <app-item class="col" [data]="{
          label: 'Privacy Policy',
          icon: 'fas fa-lock',
          expandable: true
        }" [routerLink]="['/n/5e01f836ade41b2b1c768ffc']">
      </app-item>
    </div>

    <div class="row col-margin-small">
      <app-item class="col" [data]="{
          label: 'noter-client',
          icon: 'fab fa-gitlab',
          externalLink: true,
          style: 'gitlab'
        }" (click)="openExternalLink('https://gitlab.com/FajsiEx/noter-client')">
      </app-item>

      <app-item class="col" [data]="{
          label: 'noter-server',
          icon: 'fab fa-gitlab',
          externalLink: true,
          style: 'gitlab'
        }" (click)="openExternalLink('https://gitlab.com/FajsiEx/noter-server')">
      </app-item>
    </div>
  </div>

  <div class="foot">
    <div class="copy">&copy; FajsiEx 2019-2020</div>
    <div class="license">Licensed under <a href="https://gitlab.com/FajsiEx/noter-client/-/blob/master/LICENSE"
        target="_blank" rel="noopener noreferrer">GPL-3.0</a></div>
    <div class="made">Made with <i class="fas fa-heart"></i> and open-source ;)</div>
  </div>

</div>
