.list-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    border-radius: var(--border-radius);
    cursor: pointer;

    transition: background var(--transition);

    &:hover {
        background: var(--color-background-l1);

        .action {
            display: block;
            @media screen and (max-width: 640px) {
                display: none;
            }
        }
    }
}    

.action {
    display: none;
    padding: 0 var(--margin-big);
    
    &.share:hover {
        color: var(--color-green);
    }
}

.left,
.right {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.left {
    justify-content: flex-start;
    justify-self: flex-start;

    width: 100%;

    padding: var(--margin-big);
    padding-right: 0;

    .icon {
        i {
            margin-left: var(--margin);
            color: var(--color-green);
            transform: scale(1.5);
        }
    }

    .user-name {
        margin-left: var(--margin-big);
    }
}

.right {
    flex-shrink: 0;

    div {
        padding: var(--margin-big);

        &:last-child {
            padding-right: var(--margin-big);
        }
    }

    .note-date {
        width: fit-content;
        justify-self: flex-end;
        word-wrap: none;
        word-break: keep-all;
    }
}