<div class="list-item">
    <div class="left" [routerLink]="['/u/' + user.id]">
        <div class="icon">
            <i class="fas fa-user-alt"></i>
        </div>
        <div class="user-name">
            {{user.username}}
        </div>
    </div>

    <div class="right">
        <div class="action share" (click)="copyText(baseAddress + '/u/' + user.id)" tooltip="Copy link"
            hide-delay="0"><i class="fas fa-link"></i></div>
    </div>
</div>