.list-item {
    // Get rid of all button styles
    width: 100%;
    text-align: left;
    font-family: inherit;
    font-size: 1rem;
    padding: 0;
    background: transparent;
    border: none;
    color: #fff;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    border-radius: var(--border-radius);
    cursor: pointer;

    transition: background var(--transition);

    &:hover {
        background: var(--color-background-l1);

        .action {
            display: block;
        }
    }
}

.tags {
    &.inline {
        display: inline-block;
    }

    &:not(.inline) {
        display: block;
        margin-top: 4px;
    }

    .tag {
        display: inline-block;

        background: var(--color-text);
        color: var(--color-text-inverted);
        font-weight: bold;

        margin-right: var(--margin);
        padding: 2px;

        border-radius: 4px;
    }
}


.action {
    display: none;
    padding: 0 var(--margin-big);

    @media screen and (max-width: 640px) {
        display: block;
    }

    &.edit:hover {
        color: var(--color-lblue);
    }

    &.delete:hover {
        color: var(--color-red);
    }

    &.share:hover {
        color: var(--color-green);
    }

    &.more:hover {
        color: var(--color-purple);
    }
}

.left,
.right {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.left {
    justify-content: flex-start;
    justify-self: flex-start;

    width: 100%;

    padding: var(--margin-big);
    padding-right: 0;

    .task-checkbox {
        i {
            margin-left: var(--margin);
            transform: scale(1.5);

            &.checked {
                color: var(--color-accent);
            }
        }
    }

    .props {
        margin-left: var(--margin-big);

        .prop {
            display: inline-block;
            width: 24px;
            text-align: center;

            i {
                margin-right: 4px;
            }
        }

        .prop-overdue {
            color: var(--color-red);
        }
    }

    .task-name {

        word-break: break-word;
    }
}

.right {
    flex-shrink: 0;

    div {
        padding: var(--margin-big);

        &:last-child {
            padding-right: var(--margin-big);
        }
    }
}