<button class="list-item">
    <div class="left">
        <div class="task-checkbox" (click)="toggleCompletedStatus()">
            <i class="far fa-square" *ngIf="!task.completed"></i>
            <i class="fas fa-check-square checked" *ngIf="task.completed"></i>
        </div>

        <span class="props">
            <span class="prop prop-overdue" *ngIf="overdue">
                <i class="fas fa-calendar-times" tooltip="Overdue" hide-delay="0"></i>&nbsp;
            </span>
        </span>

        <div class="task-name">
            <!-- <span class="tags inline"
                *ngIf="noteTags.length > 0 && settings.values.appearance_tagPosition === 'inline'">
                <span class="tag" *ngFor="let tag of noteTags" [style.background]="tag.color">{{tag.name}}</span>
            </span> -->

            {{task.name}}

            <!-- <span class="tags" *ngIf="noteTags.length > 0 && settings.values.appearance_tagPosition === 'under'">
                <span class="tag" *ngFor="let tag of noteTags" [style.background]="tag.color">{{tag.name}}</span>
            </span> -->
        </div>
    </div>

    <div class="right">

        <div *ngIf="task.author === api.session.user_id" class="action delete" (click)="deleteSelf()" tooltip="Delete" hide-delay="0">
            <i class="fas fa-trash"></i>
        </div>
    </div>
</button>