<div *ngIf="userRes && userRes.data && tagsRes && tagsRes.data" class="results">
	<div *ngIf="userRes.data.notes.length === 0 && tagsRes.data.tags.length === 0" class="no-notes">
		{{'overlays.open.sections.your_notes.no_notes' | translate}}
	</div>

	<div class="tag-items">
		<app-tag-dropdown *ngFor="let tag of tagsRes.data.tags" [userId]="userId" [tag]="tag"></app-tag-dropdown>
	</div>

	<app-list-divider *ngIf="tagsRes.data.tags.length !== 0" [data]="{text: 'NO TAGS'}"></app-list-divider>

	<div class="note-items">
		<app-list-item-note *ngFor="let note of userRes.data.notes" [compact]="true"
							[note]="note"></app-list-item-note>
	</div>
</div>

<app-placeholder-loader *ngIf="userFetching || tagsFetching"></app-placeholder-loader>
