.overlay-content {
    left: auto;
    bottom: auto;
    right: var(--margin-big);
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 640px) {
        right: initial;
    }
    
    .fetching {
        display: flex;
        flex-direction: row;
        justify-content: center;

        i {
            font-size: 32px;
        }
    }
}

.item {
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    padding: var(--margin-big);
    
    background: var(--color-background-l1);
    border-radius: var(--border-radius);

    transition: filter var(--transition);

    cursor: pointer;

    &:hover {
        filter: var(--filter-hover);
    }

    &:not(:last-child) {
        margin-bottom: var(--margin);
    }

    .label {
        i {
            width: 24px;
            margin-right: var(--margin);
            text-align: center;
        }

        &.danger {
            color: var(--color-red);
        }
    }
}