<div class="overlay-content">
    <div *ngIf="!fetching">
        <h1>Delete?</h1>
        <p>
            Are you sure you want to delete<br>
            <b>{{note.title}}</b> ?
            <br>
            <br>
            <i>This <b>cannot</b> be undone!</i>
        </p>
        
        <div class="item" (click)="delete()">
            <div class="label danger">
                <i class="fas fa-trash"></i>
                <span class="name">Delete</span>
            </div>
        </div>
        
        <div class="item" (click)="cancel()">
            <div class="label">
                <i class="fas fa-times"></i>
                <span class="name">Cancel</span>
            </div>
        </div>
    </div>

    <div *ngIf="fetching" class="fetching">
        <i class="fas fa-circle-notch loader"></i>
    </div>
</div>