<div class="page container">
    <div class="hero">
        <h1>Downloaded notes</h1>
    </div>

    <div class="note-container">
        <app-list-item-note *ngFor="let storedNoteData of data" [note]="storedNoteData.note"
            [availableTags]="storedNoteData.tags"></app-list-item-note>
    </div>

    <div class="placeholder" *ngIf="data.length === 0">
        <i class="fas fa-download big"></i>
        <p>
            No downloaded notes
            <br>
            Download a note in the <i class="fas fa-bookmark"></i> menu on the note page<br>
            You can view downloaded notes even when offline
        </p>
    </div>
</div>