<div class="page">
    <div>
        <i class="fas fa-lock"></i><br>
        <div class="text">
            You cannot do that.<br>
            <span *ngIf="!api.session.token">Log in maybe?</span>
            <span *ngIf="api.session.token">Make sure you are logged in with the right account</span>
        </div>
    </div>
</div>