.page {
    height: calc(100vh - 128px);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    i {
        font-size: 48px;
        color: var(--color-red);
    }

    .text {
        margin: var(--margin-big);
    }
}