.console {
    font-family: 'code', monospace;
    padding-top: var(--margin-big);

    p {
        font-family: 'code', monospace;
        margin: 0;
    }

    .entry {
        white-space: pre-wrap;
        word-wrap: break-word;

        &.info {
            color: var(--color-lblue);
        }

        &.debug {
            color: var(--color-gray);
        }

        &.warn {
            color: var(--color-yellow);
        }

        &.error {
            color: var(--color-red);
        }

        &.success {
            color: var(--color-green);
        }
    }

    .console-input {
        display: flex;
        align-items: center;

        span {
            display: block;
            color: var(--color-lblue);
            padding-right: var(--margin);
        }

        input {
            background: transparent;
            border: none;
            width: 100%;
            font-family: 'code', monospace;
            color: #fff;
            font-size: 16px;
        }
    }
}

.overlay-content {
    width: calc(100% - 64px - 2 * var(--margin-big));
    z-index: 2048;
}