<div class="overlay-content" #view>
    <div class="console">
        <div class="log">
            <p class="entry" *ngFor="let entry of log.log" [ngClass]="{
          debug: entry.type === 'debug',
          info: entry.type === 'info',
          warn: entry.type === 'warn',
          error: entry.type === 'fail' || entry.type === 'error',
          success: entry.type === 'success'
        }">{{entry.msg}}</p>
        </div>


        <form class="console-input" (ngSubmit)="execCommand()">
            <span>></span><input type="text" name="input" [(ngModel)]="currentCommand" #focus autocomplete="off">
        </form>
    </div>
</div>