<div class="container">
    <h1>Debug / Tests / Theme</h1>
    <p>These visual tests are for easier development and testing of themes. Nothing here is useful here if you're not a
        developer.</p>

    <div class="background-set bg-transparent">
        <div class="style-set normal">
            <div class="text">Normal text</div>
            <div class="text color-red">Red text</div>
            <div class="text color-orange">Orange text</div>
            <div class="text color-yellow">Yellow text</div>
            <div class="text color-lime">Lime text</div>
            <div class="text color-green">Green text</div>
            <div class="text color-cyan">Cyan text</div>
            <div class="text color-lblue">Light blue text</div>
            <div class="text color-blue">Blue text</div>
            <div class="text color-purple">Purple text</div>
            <div class="text color-pink">Pink text</div>
        </div>
        <div class="style-set bold">
            <div class="text">Normal text</div>
            <div class="text color-red">Red text</div>
            <div class="text color-orange">Orange text</div>
            <div class="text color-yellow">Yellow text</div>
            <div class="text color-lime">Lime text</div>
            <div class="text color-green">Green text</div>
            <div class="text color-cyan">Cyan text</div>
            <div class="text color-lblue">Light blue text</div>
            <div class="text color-blue">Blue text</div>
            <div class="text color-purple">Purple text</div>
            <div class="text color-pink">Pink text</div>
        </div>
    </div>
    <div class="background-set bg-l1">
        <div class="style-set normal">
            <div class="text">Normal text</div>
            <div class="text color-red">Red text</div>
            <div class="text color-orange">Orange text</div>
            <div class="text color-yellow">Yellow text</div>
            <div class="text color-lime">Lime text</div>
            <div class="text color-green">Green text</div>
            <div class="text color-cyan">Cyan text</div>
            <div class="text color-lblue">Light blue text</div>
            <div class="text color-blue">Blue text</div>
            <div class="text color-purple">Purple text</div>
            <div class="text color-pink">Pink text</div>
        </div>
        <div class="style-set bold">
            <div class="text">Normal text</div>
            <div class="text color-red">Red text</div>
            <div class="text color-orange">Orange text</div>
            <div class="text color-yellow">Yellow text</div>
            <div class="text color-lime">Lime text</div>
            <div class="text color-green">Green text</div>
            <div class="text color-cyan">Cyan text</div>
            <div class="text color-lblue">Light blue text</div>
            <div class="text color-blue">Blue text</div>
            <div class="text color-purple">Purple text</div>
            <div class="text color-pink">Pink text</div>
        </div>
    </div>
    <div class="background-set bg-l2">
        <div class="style-set normal">
            <div class="text">Normal text</div>
            <div class="text color-red">Red text</div>
            <div class="text color-orange">Orange text</div>
            <div class="text color-yellow">Yellow text</div>
            <div class="text color-lime">Lime text</div>
            <div class="text color-green">Green text</div>
            <div class="text color-cyan">Cyan text</div>
            <div class="text color-lblue">Light blue text</div>
            <div class="text color-blue">Blue text</div>
            <div class="text color-purple">Purple text</div>
            <div class="text color-pink">Pink text</div>
        </div>
        <div class="style-set bold">
            <div class="text">Normal text</div>
            <div class="text color-red">Red text</div>
            <div class="text color-orange">Orange text</div>
            <div class="text color-yellow">Yellow text</div>
            <div class="text color-lime">Lime text</div>
            <div class="text color-green">Green text</div>
            <div class="text color-cyan">Cyan text</div>
            <div class="text color-lblue">Light blue text</div>
            <div class="text color-blue">Blue text</div>
            <div class="text color-purple">Purple text</div>
            <div class="text color-pink">Pink text</div>
        </div>
    </div>
    <div class="background-set bg-l3">
        <div class="style-set normal">
            <div class="text">Normal text</div>
            <div class="text color-red">Red text</div>
            <div class="text color-orange">Orange text</div>
            <div class="text color-yellow">Yellow text</div>
            <div class="text color-lime">Lime text</div>
            <div class="text color-green">Green text</div>
            <div class="text color-cyan">Cyan text</div>
            <div class="text color-lblue">Light blue text</div>
            <div class="text color-blue">Blue text</div>
            <div class="text color-purple">Purple text</div>
            <div class="text color-pink">Pink text</div>
        </div>
        <div class="style-set bold">
            <div class="text">Normal text</div>
            <div class="text color-red">Red text</div>
            <div class="text color-orange">Orange text</div>
            <div class="text color-yellow">Yellow text</div>
            <div class="text color-lime">Lime text</div>
            <div class="text color-green">Green text</div>
            <div class="text color-cyan">Cyan text</div>
            <div class="text color-lblue">Light blue text</div>
            <div class="text color-blue">Blue text</div>
            <div class="text color-purple">Purple text</div>
            <div class="text color-pink">Pink text</div>
        </div>
    </div>

    <div class="background-set bg-red">
        <div class="text">Normal text</div>
        <div class="text inverted">Inverted text</div>
        <div class="text bold">Normal bold text</div>
        <div class="text bold inverted">Inverted bold text</div>
    </div>
    <div class="background-set bg-orange">
        <div class="text">Normal text</div>
        <div class="text inverted">Inverted text</div>
        <div class="text bold">Normal bold text</div>
        <div class="text bold inverted">Inverted bold text</div>
    </div>
    <div class="background-set bg-yellow">
        <div class="text">Normal text</div>
        <div class="text inverted">Inverted text</div>
        <div class="text bold">Normal bold text</div>
        <div class="text bold inverted">Inverted bold text</div>
    </div>
    <div class="background-set bg-lime">
        <div class="text">Normal text</div>
        <div class="text inverted">Inverted text</div>
        <div class="text bold">Normal bold text</div>
        <div class="text bold inverted">Inverted bold text</div>
    </div>
    <div class="background-set bg-green">
        <div class="text">Normal text</div>
        <div class="text inverted">Inverted text</div>
        <div class="text bold">Normal bold text</div>
        <div class="text bold inverted">Inverted bold text</div>
    </div>
    <div class="background-set bg-cyan">
        <div class="text">Normal text</div>
        <div class="text inverted">Inverted text</div>
        <div class="text bold">Normal bold text</div>
        <div class="text bold inverted">Inverted bold text</div>
    </div>
    <div class="background-set bg-lblue">
        <div class="text">Normal text</div>
        <div class="text inverted">Inverted text</div>
        <div class="text bold">Normal bold text</div>
        <div class="text bold inverted">Inverted bold text</div>
    </div>
    <div class="background-set bg-blue">
        <div class="text">Normal text</div>
        <div class="text inverted">Inverted text</div>
        <div class="text bold">Normal bold text</div>
        <div class="text bold inverted">Inverted bold text</div>
    </div>
    <div class="background-set bg-purple">
        <div class="text">Normal text</div>
        <div class="text inverted">Inverted text</div>
        <div class="text bold">Normal bold text</div>
        <div class="text bold inverted">Inverted bold text</div>
    </div>
    <div class="background-set bg-pink">
        <div class="text">Normal text</div>
        <div class="text inverted">Inverted text</div>
        <div class="text bold">Normal bold text</div>
        <div class="text bold inverted">Inverted bold text</div>
    </div>
</div>