
.container {
    @media screen and (max-width: 640px) {
        padding-bottom: 64px;
    }
}

.color-red {
    color: var(--color-red);
}
.color-orange {
    color: var(--color-orange);
}
.color-yellow {
    color: var(--color-yellow);
}
.color-lime {
    color: var(--color-lime);
}
.color-green {
    color: var(--color-green);
}
.color-cyan {
    color: var(--color-cyan);
}
.color-lblue {
    color: var(--color-lblue);
}
.color-blue {
    color: var(--color-blue);
}
.color-purple {
    color: var(--color-purple);
}
.color-pink {
    color: var(--color-pink);
}


.bg-red {
    background: var(--color-red);
}
.bg-orange {
    background: var(--color-orange);
}
.bg-yellow {
    background: var(--color-yellow);
}
.bg-lime {
    background: var(--color-lime);
}
.bg-green {
    background: var(--color-green);
}
.bg-cyan {
    background: var(--color-cyan);
}
.bg-lblue {
    background: var(--color-lblue);
}
.bg-blue {
    background: var(--color-blue);
}
.bg-purple {
    background: var(--color-purple);
}
.bg-pink {
    background: var(--color-pink);
}

.bold {
    font-weight: bold;
}

.text.inverted {
    color: var(--color-text-inverted);
}

.background-set {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--margin-big);
    border-radius: var(--border-radius);
    padding: var(--margin-big) 0;
}

.bg-l1 {
    background: var(--color-background-l1);
}
.bg-l2 {
    background: var(--color-background-l2);
}
.bg-l3 {
    background: var(--color-background-l3);
}