// TODO: fix this properly. This is just a workaround for firefox
.overlay-content {
  top: 0;
  padding-bottom: 0;

  & > div:last-child {
	padding-bottom: calc(var(--margin-big) * 2);
	@media screen and (max-width: 640px) {
	  padding-bottom: calc(64px + var(--margin));
	}
  }
}

.section {
  h2 {
	margin-bottom: var(--margin);
  }

  .no-notes {
	text-align: center;
	color: var(--color-gray);
  }

  .note-items {
	margin-top: var(--margin); // To account for the margin before the divider
  }
}
