<div class="overlay-content">
	<div class="head">
		<h1>{{'overlays.open.title' | translate}}</h1>
	</div>
	<div class="main">
		<div class="section">
			<h2>{{'overlays.open.sections.recently_opened.title' | translate}}</h2>

			<div class="results">
				<div *ngIf="recentlyOpenedNotes.length === 0" class="no-notes">
					{{'overlays.open.sections.recently_opened.no_notes' | translate}}
				</div>
				<div *ngFor="let noteData of recentlyOpenedNotes" class="note-item-wrapper">
					<app-list-item-note [availableTags]="noteData.tags" [compact]="true"
										[note]="noteData.noteThumb"></app-list-item-note>
				</div>
			</div>
		</div>

		<div *ngIf="api.session.token" class="section">
			<h2>{{'overlays.open.sections.your_notes.title' | translate}}</h2>

			<app-overlay-section-user-notes [userId]="api.session.user_id"></app-overlay-section-user-notes>
		</div>

		<div *ngIf="api.session.token" class="section">
			<h2>{{'overlays.open.sections.bookmarked.title' | translate}}</h2>

			<div *ngIf="bnotesRes && bnotesRes.data" class="results">
				<div *ngIf="bnotesRes.data.notes.length === 0" class="no-notes">
					{{'overlays.open.sections.bookmarked.no_notes' | translate}}
				</div>

				<div class="note-items">
					<app-list-item-note *ngFor="let note of bnotesRes.data.notes" [availableTags]="bnotesRes.data.tags"
										[compact]="true" [note]="note"></app-list-item-note>
				</div>
			</div>

			<app-placeholder-loader *ngIf="bnotesFetching"></app-placeholder-loader>
		</div>

		<div class="section">
			<h2>{{'overlays.open.sections.downloaded.title' | translate}}</h2>

			<div *ngIf="downloadedNotes.length === 0" class="no-notes">
				{{'overlays.open.sections.downloaded.no_notes' | translate}}
			</div>

			<app-list-item-note *ngFor="let storedNoteData of downloadedNotes" [availableTags]="storedNoteData.tags"
								[compact]="true" [note]="storedNoteData.note"></app-list-item-note>
		</div>
	</div>
</div>
