.page {
    padding: calc(var(--margin-big) * 2);
    background: var(--color-background-l1);
    margin: var(--margin-big) 0;
    border-radius: var(--border-radius);
    min-height: calc(100vh - 6 * var(--margin-big));

    box-shadow: var(--shadow);

    @media screen and (max-width: 640px) {
        margin: 0;
        padding-bottom: 64px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media screen and (max-width: 640px) {
    .container {
        padding: 0;
    }
}

.hero {
    padding: calc(var(--margin-big) * 8) var(--margin-big);

    @media screen and (max-width: 640px) {
        text-align: center;
    }

    h1,
    p {
        margin: 0;
    }

    /* 
    .offline-warning {
        color: var(--color-yellow);
    }
 */
    .tags {
        margin: var(--margin) 0;
        .tag {
            display: inline-block;
    
            background: var(--color-text);
            color: var(--color-text-inverted);
            font-weight: bold;
    
            margin-right: var(--margin);
            padding: 2px;
    
            border-radius: 4px;
        }
    }

    .props {
        .prop-private {
            color: var(--color-orange);
        }

        .prop-invisible {
            color: var(--color-yellow);
        }

        .prop-published {
            color: var(--color-green);
        }

        .prop-encrypted {
            color: var(--color-cyan);
        }

        .prop-news-post {
            color: var(--color-purple);
        }
    }
}

.toolbar {
    position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;

    //margin-left: 64px; // TODO: global var
    padding: 0;
    padding-top: 64px;
    padding-bottom: var(--margin-big);

    left: 50%;
    transform: translateX(-50%);

    transition: transform var(--transition);

    @media screen and (max-width: 640px) {
        bottom: 64px;
        margin-left: 0;

        width: 100%;

        &.hide {
            transform: translateX(-50%) translateY(128px) !important;
        }

        .inner {
            margin-left: var(--margin-big) !important; // Since there is no sidebar we reset the additional margin here
            width: calc(100% - 4px - var(--margin-big) * 2) !important; // 4px for border

            .button {
                width: 100%;
                text-align: center;
                i {
                    margin-right: 0 !important;
                }
                .label {
                    display: none;
                }
            }
        }
    }

    &.hide {
        transform: translateX(-50%) translateY(64px);

        &:hover {
            transform: translateX(-50%);
        }
    }

    .inner {
        background: var(--color-background-l2);
        box-shadow: var(--shadow);
        border: 2px solid var(--color-accent);

        margin: 0;
        margin-left: calc(var(--margin-big) + 64px); // Because the sidebar
        margin-right: var(--margin-big);
        
        display: flex;
        justify-content: flex-end;
        
        width: max-content;
        height: 48px;
        border-radius: calc(48px / 2);
        
        .button {
            background: var(--color-background-l2);
            transition: filter var(--transition);
            cursor: pointer;

            padding: var(--margin-big) calc(var(--margin-big) * 2);
            border-radius: calc(48px / 2);

            &.accent {
                background: var(--color-accent);
                color: var(--color-text-inverted);
                margin: -1px; // To get rid of the space between button and .inner border
                margin-left: 0; // To not interfere with the left button
            }

            &:hover {
                filter: var(--filter-hover);
            }

            * {
                vertical-align: middle;
            }

            i {
                margin-right: var(--margin);
            }
        }
    }
}

.fabs {
    position: fixed;
    bottom: calc(var(--margin-big) * 2);
    right: calc(var(--margin-big) * 2);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    transition: transform var(--transition);

    @media screen and (max-width: 640px) {
        bottom: calc(var(--margin-big) + 64px);
    }

    &.hide {
        transform: translateX(128px);
    }

    .fab {
        &:not(:last-child) {
            .inner {
                margin-bottom: var(--margin);
            }
        }

        display: block;

        &.saved .inner {
            background: var(--color-green);
        }
    }

    .fab .inner {
        background: var(--color-accent);
        color: var(--color-text-inverted);
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;

        box-shadow: var(--shadow);

        height: 48px;
        width: 48px;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;

        cursor: pointer;

        transition: filter var(--transition), width var(--transition), padding var(--transition);

        span {
            transition: width var(--transition), opacity var(--transition);
            display: inline-block;
            width: 0px;
            opacity: 0;

            overflow: hidden;
        }

        &:hover {
            @media screen and (min-width: 641px) {
                // TODO: look into hover: none?
                filter: var(--filter-hover);
                width: auto;
                padding: 0 calc(var(--margin-big) * 2);

                span {
                    width: auto;
                    opacity: 1;
                }

                i:not(:last-child) {
                    margin-right: var(--margin);
                }
            }
        }
    }
}



.block.offline-warning {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: var(--margin-big);

    background: var(--color-background-l1);
    border-radius: var(--border-radius);


    background: linear-gradient(to top right, var(--color-yellow), var(--color-orange));
    color: var(--color-text-inverted);

    margin-top: var(--margin-big);

    cursor: initial;

    &:hover {
        filter: none;
    }

    i {
        font-size: 32px;
        padding: 0 calc((48px - 32px) / 2);
    }

    .text {
        margin-left: var(--margin);

        p {
            margin: 0;

            &:not(:last-child) {
                margin-bottom: var(--margin);
            }
        }

    }
}

canvas {
    width: 100%;
}
