<div class="hero container" *ngIf="res && res.success">
    <div class="row">
        <div class="col">
            <h1>{{res.data.note.title}}</h1>
            <div class="tags">
                <span class="tag" *ngFor="let tag of res.data.tags" [style.background]="tag.color">{{tag.name}}</span>
            </div>

            <span class="props">
                <!-- prop = property -->
                <span class="prop-private" *ngIf="res.data.note.access === 0">
                    <i class="fas fa-lock"></i>&nbsp;<b>Private</b>&nbsp;
                </span>

                <span class="prop-invisible" *ngIf="res.data.note.access === 1">
                    <i class="fas fa-eye-slash"></i>&nbsp;<b>Invisible</b>&nbsp;
                </span>

                <span class="prop-published" *ngIf="res.data.note.access === 3">
                    <i class="fas fa-globe-americas"></i>&nbsp;<b>Published</b>&nbsp;
                </span>

                <span class="prop-encrypted" *ngIf="res.data.note.encrypted">
                    <i class="fas fa-key"></i>&nbsp;<b>Encrypted</b>&nbsp;
                </span>

                <span class="prop-news-post" *ngIf="res.data.note.news_post">
                    <i class="fas fa-newspaper"></i>&nbsp;<b>News post</b>&nbsp;
                </span>
            </span>

            <br>
            <br>

            <div>
                <h2>Author</h2>
                <app-item-user [user]="res.data.users[0]"></app-item-user>

                <div class="block offline-warning" *ngIf="fromSaved">
                    <i class="fas fa-exclamation-triangle"></i>
                    <div class="text">
                        <p>
                            <b>Offline mode!</b>
                        </p>
                        <p>
                            You are viewing a saved version of this note. Keep in mind, that it may not be up to
                            date!
                    </div>
                </div>

                <div class="block offline-warning" *ngIf="res.data && res.data.note.doc.head.type === 'draw'">
                    <i class="fas fa-exclamation-triangle"></i>
                    <div class="text">
                        <p>
                            <b>Draw notes are WIP!</b>
                        </p>
                        <p>
                            Expect things to break. <b>Do not use for important stuff!</b><br>
                            You have been warned.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <app-item [data]="{label: 'Created', endLabel: createdDelta, icon: 'fas fa-plus', notInteractive: true}">
            </app-item>
            <app-item
                [data]="{label: 'Last updated', endLabel: modifiedDelta, icon: 'fas fa-pen', notInteractive: true}">
            </app-item>
            <app-item [data]="{label: 'Words', endLabel: '0', icon: 'fas fa-align-left', notInteractive: true}">
            </app-item>
        </div>
    </div>
</div>

<div class="container" *ngIf="res && res.data">
    <div class="page" #c>
        <div class="section" *ngFor="let section of res.data.note.doc.body.sections">
            <app-doc-section-markdown *ngIf="section.type === 'markdown'" [section]="section" [readOnly]="true">
            </app-doc-section-markdown>
            <app-doc-section-draw *ngIf="section.type === 'draw'" [section]="section" [readOnly]="true">
            </app-doc-section-draw>
        </div>

        <div class="toolbar" [class.hide]="hideToolbar">
            <div class="inner">
                <div class="button" (click)="openSaveNoteOverlay()">
                    <i class="fas fa-bookmark"></i>
                    <span class="label">Save</span>
                </div>

                <div class="button" (click)="scrollToTop()">
                    <i class="fas fa-chevron-up"></i>
                    <span class="label">Scroll to top</span>
                </div>

                <div class="button" (click)="openIndexOverlay()">
                    <i class="fas fa-bars"></i>
                    <span class="label">Index</span>
                </div>

                <div class="button" (click)="openProps()"
                    *ngIf="res.data.note.author === api.session.user_id && !fromSaved">
                    <i class="fas fa-ellipsis-h"></i>
                    <span class="label">Properties</span>
                </div>

                <div class="button accent" [routerLink]="['/n/' + noteId + '/edit']"
                    *ngIf="res.data.note.author === api.session.user_id && !fromSaved">
                    <i class="fas fa-pen"></i>
                    <span class="label">Edit</span>
                </div>
            </div>
        </div>
    </div>
</div>


<app-page-loader *ngIf="fetching"></app-page-loader>
<app-page-fetch-err *ngIf="res && !res.success"></app-page-fetch-err>
