/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Varela+Round|Open+Sans&display=swap');

@font-face {
    src: url("assets/code.ttf");
    font-family: 'code'; // Cascadia Code [https://github.com/microsoft/cascadia-code/blob/master/LICENSE]
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse-with-accent {
    0% {
        color: inherit;
    }

    5% {
        color: var(--color-accent);
    }

    100% {
        color: inherit;
    }
}

$max-mobile-w: 640px;

:root {
    --color-background: #000;
    --color-background-l1: #111;
    --color-background-l2: #181818;
    --color-background-l3: #222;

    --color-gray: #888;

    --color-text: #fff;
    --color-text-inverted: #000;

    --color-red: #f55;
    --color-orange: #fa0;
    --color-yellow: #ff5;
    --color-lime: #af5;
    --color-green: #55ff55;
    --color-cyan: #5ff;
    --color-lblue: #5af;
    --color-blue: #05f;
    --color-purple: #55f;
    --color-pink: #f5f;

    --color-black: #000;
    --color-white: #fff;

    --color-accent: var(--color-lblue);

    --margin: 8px;
    --margin-big: 12px;

    --border-radius: 8px;

    --item-height: 46px;

    --filter-hover: brightness(1.2);
    --filter-hover-inverted: brightness(0.8);

    --transition: 0.15s ease;

    --mobile-max: 860px;

    --shadow: 2px 2px 13px -2px var(--color-background);

    --item-background: var(--color-background-l1);
}

/* mobile size media query
@media screen and (max-width: 640px) {
}
*/

body {
    margin: 0;
    padding: 0;
    background: var(--color-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: var(--color-text);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    transition: background 0.3s linear;
    background: var(--color-gray);
    border-radius: 4px;
}

.app.disable-scrollbars {
    *::-webkit-scrollbar { 
        display: none; 
    }

    * {
        scrollbar-width: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
}

h1 {
    margin: var(--margin-big) 0;
}
h2, h3  {
    margin: var(--margin) 0;
}
h4, h5, h6  {
    margin: 0;
}

input,
button,
p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-accent);

    transition: filter var(--transition);

    &:hover {
        filter: var(--filter-hover)
    }
}

code {
    font-family: "code", monospace !important;
}

*:focus {
    outline: none;
}

.loader {
    i {
        animation: .75s loader linear infinite; // TODO: change this (merge or smth)
    }

    &.fas {
        animation: .75s loader linear infinite;
    }
}

.loader-wrapper {
    text-align: center;
    i {
        font-size: 32px;
    }
}

.placeholder {
    text-align: center;
    padding: 64px 0;
    i.big {
        font-size: 64px;
    }
}

.paragraph {
    display: block;
    margin: var(--margin) 0;


}

div.no-md-margin {
    .paragraph {
        margin: 0;
    }
}

markdown img {
    max-width: 100%;
}

markdown .highlight {
    animation: ease-out pulse-with-accent 2.5s;
}

markdown li.nested {
    list-style-type: none;
}
markdown li.task {
    list-style-type: none;
    list-style-position: outside;

    .task-indicator {
        margin-right: var(--margin);

        &.active {
            color: var(--color-accent);
        }
    }
}

.CodeMirror {
    background: transparent !important;
    color: var(--color-text) !important;
    border: none !important;

    padding: 0 !important;
    border-radius: 0 !important;

    * ::selection {
        background: var(--color-accent) !important;
        color: var(--color-black) !important;
    }

    .cm-header {
        font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    }

    .CodeMirror-cursor {
        border-left: 1px solid var(--color-text);
    }

    .CodeMirror-selected,  CodeMirror-selectedtext {
        background: var(--color-accent) !important;
        color: var(--color-black) !important;
    }
    span.CodeMirror-selected {
        color: var(--color-black) !important;
    }
}

.popup, .overlay-content {
    position: fixed;
    left: calc(64px + var(--margin-big));
    bottom:0;
    width: 420px;
    
    border-radius: 6px;
    padding: var(--margin-big);
    padding-bottom: calc(var(--margin-big) * 2);
    padding-top: 0;

    z-index: 91;

    max-height: 100%;
    //max-height: calc(100% - var(--margin-big) * 2);
    overflow-y: scroll;
    overflow-x: visible;
    
    @media screen and (max-width: 640px) {
        left: 0;
        width: calc(100% - (var(--margin-big) * 2));

        //max-height: calc(100% - 64px);
        padding-bottom: calc(64px + var(--margin));
    }
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    @media screen and (max-width: 640px) {
        display: block;
    }

    .col {
        width: 100%;

        &:not(:last-child) {
            margin-right: calc(var(--margin-big) * 2);
            @media screen and (max-width: 640px) {
                margin: 0;
                margin-bottom: calc(var(--margin-big) * 2);
            }
        }
    }
    
    &.col-margin-small {
        .col {
            width: 100%;
    
            &:not(:last-child) {
                margin-right: var(--margin);
                @media screen and (max-width: 640px) {
                    margin: 0;
                    margin-bottom: var(--margin);
                }
            }
        }
    }
}

.container {
    padding-left: var(--margin-big);
    padding-right: var(--margin-big);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: calc(730px - 64px);
    }
}

@media (min-width: 992px) {
    .container {
        width: calc(950px - 64px);
    }
}

@media (min-width: 1200px) {
    .container {
        width: calc(1150px - 64px);
    }
}
