<div class="item" (click)="toggleSetting()">
    <div class="label">
        <i [attr.class]="data.main.icon" *ngIf="data.main.icon"></i>
        <span class="name">{{data.main.name}}</span>
    </div>

    <div class="toggle">
        <i class="far fa-square" *ngIf="!currentValue"></i>
        <i class="fas fa-check-square checked" *ngIf="currentValue"></i>
    </div>
</div>
