.item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    margin-bottom: var(--margin);
    padding: var(--margin-big);
    
    background: var(--item-background);
    border-radius: var(--border-radius);

    box-shadow: var(--shadow);

    transition: filter var(--transition);

    cursor: pointer;

    &:hover {
        filter: var(--filter-hover);
    }

    &.disabled {
        filter: grayscale(1) brightness(.5);
        cursor: default;
        
        &:hover {
            filter: grayscale(1) brightness(.5);
        }
    }

    .label {
        i {
            width: 24px;
            margin-right: var(--margin);
            text-align: center;
        }

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &.danger {
            color: var(--color-red);
        }
    }

    &.active {
        border: 2px solid var(--color-lblue);
        padding: calc(var(--margin-big) - 2px);
    }

    .toggle {
        transform: scale(1.5);

        .checked {
            color: var(--color-accent);
        }
    }
}

