@keyframes invalid-input {
    0% {
        background: #611;
    }

    100% {
        background: var(--color-background-l2);
    }
}

.overlay-content {
    left: auto;
    bottom: auto;
    right: var(--margin-big);
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 640px) {
        right: initial;
    }
    
    .fetching {
        display: flex;
        flex-direction: row;
        justify-content: center;

        i {
            font-size: 32px;
        }
    }

    .head {
        display: flex;
        height: 64px;
        align-items: center;

        h1 {
            margin: 0;
        }
    }

    input:not([type="checkbox"]) {
        display: block;
        width: calc(100% - 2 * var(--margin-big));

        padding: 0 var(--margin-big);
        font-size: 14px;
        height: 46px; // TODO: define sidebar item height
        margin-top: calc((64px - 46px) / 2);

        background: transparent;
        border-radius: 8px;
        border: none;

        background: var(--color-background-l2);
        color: var(--color-text);

        transition: filter var(--transition);

        &:hover {
            filter: var(--filter-hover);
        }

        &:focus {
            padding: 0 calc(var(--margin-big) - 2px); // To make up for the 2px border
            height: calc(46px - 2 * 2px);
            border: 2px solid var(--color-accent);
        }

        &.invalid {
            padding: 0 calc(var(--margin-big) - 2px); // To make up for the 2px border
            height: calc(46px - 2 * 2px);
            border: 2px solid var(--color-red);
            animation: 1s invalid-input ease;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    button {
        width: 100%;
        height: 46px;

        background: var(--color-accent);
        transition: all 0.5s ease;
        border-radius: 6px;
        border: none;

        margin-top: var(--margin);

        &:not(:first-child) {
            margin-left: var(--margin);
        }

        padding: var(--margin) 0;
        color: var(--color-text-inverted);

        font-size: 16px;
        cursor: pointer;

        &:hover {
            filter: brightness(1.15);
        }

        &[disabled] {
            filter: grayscale(1);
            cursor: default;
        }

        &.active {
            &.type-text {
                background: var(--color-blue);
            }
        }
    }
}

.item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: var(--margin);
    padding: var(--margin-big);

    background: var(--color-background-l1);
    border-radius: var(--border-radius);

    transition: filter var(--transition);

    cursor: pointer;

    &:hover {
        filter: var(--filter-hover);
    }

    .label {
        i {
            width: 24px;
            margin-right: var(--margin);
            text-align: center;
        }

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}