<div class="overlay-content">
    <div class="main">
        <h1>Encrypted</h1>
        <p>This document is encrypted. It requires a password to view its contents. Please provide a valid password
            bellow.</p>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <input #focus [class.invalid]="invalidPassword" (ngModelChange)="resetError()" formControlName="password" type="password" placeholder="Password">

            <div class="buttons">
                <button *ngIf="!loading" type="submit" [disabled]="!passwordForm.valid">
                    <span>Decrypt</span>
                </button>
            </div>

            <div *ngIf="loading" class="loader">
                <i class="fas fa-circle-notch"></i>
            </div>
        </form>
    </div>
</div>