<div class="page container">
    <div class="hero">
        <h1>Bookmarked notes</h1>
    </div>

    <app-item class="mobile-nav-helper" [data]="{label: 'Downloaded notes', icon: 'fas fa-download'}"
        [routerLink]="['/downloaded']"></app-item>

    <app-placeholder-logged-out *ngIf="!api.session.token"></app-placeholder-logged-out>
    <div *ngIf="api.session.token">
        <div class="loader-wrapper" *ngIf="fetching">
            <i class="fas fa-circle-notch loader"></i>
        </div>

        <div *ngIf="!fetching && res">

            <div class="placeholder" *ngIf="!fetching && res.success && res.data.notes.length === 0">
                <i class="fas fa-bookmark big"></i>
                <p>
                    No bookmarked notes
                    <br>
                    Bookmark a note in the <i class="fas fa-bookmark"></i> menu on the note page
                </p>
            </div>

            <div class="note-container" *ngIf="res.success">
                <app-list-item-note *ngFor="let note of res.data.notes" [note]="note" [availableTags]="res.data.tags">
                </app-list-item-note>
            </div>
        </div>
    </div>
</div>