.page {
    @media screen and (max-width: 640px) {
        padding-bottom: 64px;
    }
}

.hero {
    padding: 8% 0;

    * {
        margin: 0;
    }
}

.mobile-nav-helper {
    display: none;
    @media screen and (max-width: 640px) {
        display: block;
    }
}
