<span class="badges">
	<span *ngIf="badges.includes('dev')" class="dev"
		  hide-delay="0"
		  placement="top" tooltip="Noter developer">
		<i class="fas fa-code"></i>
	</span>

	<span *ngIf="badges.includes('verified')" class="verified"
		  hide-delay="0"
		  placement="top" tooltip="Verified">
		<i class="fas fa-check"></i>
	</span>

	<span *ngIf="badges.includes('alpha_tester')" class="alpha-tester"
		  hide-delay="0"
		  placement="top" tooltip="Alpha tester">
		<i class="fas fa-carrot"></i>
	</span>
</span>
