.badges {
  & > span:not(:first-child) {
	margin-left: var(--margin);
  }

  .dev {
	color: var(--color-pink);
  }

  .verified {
	color: var(--color-lblue);
  }

  .alpha-tester {
	color: var(--color-gray);
  }
}
