<div class="overlay-content">
    <app-login-section-login *ngIf="section === 'login'"></app-login-section-login>
    <app-login-section-signup *ngIf="section === 'signup'"></app-login-section-signup>
    <app-login-section-autologinfail *ngIf="section === 'autologinfail'"></app-login-section-autologinfail>

    <div class="row col-margin-small">
        <app-item class="col" *ngIf="section !== 'login'" [data]="{
            label: 'Log in',
            icon: 'fas fa-sign-in-alt',
            expandable: true
          }" (click)="section = 'login'">
        </app-item>

        <app-item class="col" *ngIf="section !== 'signup'" [data]="{
            label: 'Sign up',
            icon: 'fas fa-user-plus',
            expandable: true
          }" (click)="section = 'signup'">
        </app-item>

        <app-item class="col" *ngIf="section !== 'autologinfail'" [data]="{
            label: 'Forgot password',
            icon: 'fas fa-key',
            expandable: true
          }" (click)="wipFog()">
        </app-item>
    </div>
</div>