<app-item (click)="toggleExpansion()" [data]="{
	icon: 'fas fa-tag',
	label: tag.name,
	dropdownHead: true,
	dropdownExpanded: expanded,
	loading: fetching,
	background: tag.color,
	style: 'color-background'
}"></app-item>

<div *ngIf="expanded" class="dropdown">

	<div *ngIf="res && res.success" class="notes">
		<div class="no-notes" *ngIf="res.data.notes.length === 0">
			No notes under this tag :(
		</div>
		<app-list-item-note *ngFor="let note of res.data.notes" [availableTags]="res.data.tags" [compact]="true"
							[note]="note"></app-list-item-note>
	</div>
</div>
