<div class="page container">
	<div class="hero">
		<div class="row">
			<div class="col">
				<h1>Welcome back!</h1>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="row">
			<div class="col">
				<div *ngIf="!api.session.token" class="not-logged-in">
					<h2>Quick start</h2>

					<div (click)="overlayService.showOverlay('login')" class="big-item">
						<i class="fas fa-sign-in-alt"></i>
						<div class="desc">
							<div class="primary">Log in</div>
							<div class="secondary">to access more features</div>
						</div>
					</div>

					<div (click)="overlayService.showOverlay('login', {section: 'signup'})" class="big-item">
						<i class="fas fa-user-plus"></i>
						<div class="desc">
							<div class="primary">Sign up</div>
							<div class="secondary">if you don't have an account yet</div>
						</div>
					</div>
				</div>

				<div *ngIf="api.session.token" class="what-to-do">
					<h2>What to do now?</h2>

					<app-item (click)="overlayService.showOverlay('new-note')" [data]="{
						icon: 'fas fa-plus',
						label: 'Create note',
						expandable: true
					}"></app-item>

					<app-item (click)="overlayService.showOverlay('open')" [data]="{
						icon: 'fas fa-folder',
						label: 'Open note',
						expandable: true
					}"></app-item>

					<app-item (click)="overlayService.showOverlay('tasks')" [data]="{
						icon: 'fas fa-tasks',
						label: 'Check tasks',
						expandable: true
					}"></app-item>
				</div>

				<div class="published">
					<h2>Recently published</h2>

					<app-placeholder-loader *ngIf="publishedNotesFetching"></app-placeholder-loader>

					<div *ngIf="publishedNotes.length > 0" class="note-container">
						<app-list-item-note
								*ngFor="let note of publishedNotes"
								[availableTags]="publishedNotesTags"
								[compact]="true"
								[note]="note"
						></app-list-item-note>
					</div>
				</div>
			</div>

			<div class="col">
				<h2>News</h2>

				<div *ngIf="state.afterUpdate" class="block">
					<i class="fas fa-upload"></i>
					<div class="text">
						<p>
							<b>Thanks for updating to {{settings.noterVersion.text}}</b><br>
							Read the changelog to find what's new.
						</p>
						<app-item [data]="{
        					label: 'Open changelog',
        					icon: 'fas fa-stream',
        					expandable: true
      					}" [routerLink]="['/n/5dffb32971de4f00830bc847']">
						</app-item>
					</div>
				</div>

				<app-placeholder-loader *ngIf="newsNotesFetching"></app-placeholder-loader>

				<div class="news-notes" *ngIf="newsNotes.length > 0">
					<app-item-note-news *ngFor="let note of newsNotes" [note]="note" [routerLink]="['/n/' + note.id]">
						<i class="fas fa-scroll"></i>
						<div class="desc">
							<div class="primary">{{note.title}}</div>
							<div class="secondary">Last updated {{note.date}}</div>
						</div>
					</app-item-note-news>
				</div>
			</div>
		</div>
	</div>
</div>
