.page {
    @media screen and (max-width: 640px) {
        padding-bottom: 64px;
    }
}

.hero {
    padding: 8% 0;

    * {
        margin: 0;
    }

    .search-input {
        display: flex;
        align-items: center;

        border-bottom: 2px solid var(--color-text);

        padding: 0 var(--margin-big);

        i {
            font-size: 24px;

            &.clear-button {
                cursor: pointer;
                transition: color var(--transition);
                &:hover {
                    color: var(--color-red);
                }
            }
        }
        input {
            width: calc(100% - var(--margin-big) * 2);
            font-size: 24px;
            padding: var(--margin-big);

            background: transparent;
            color: var(--color-text);
            border: none;
        }
    }
}

.loader-wrapper {
    text-align: center;

    i {
        font-size: 32px;
    }
}

.big-item {
    display: flex;
    flex-direction: row;
    width: calc(100% - var(--margin-big) * 2);
    padding: var(--margin) var(--margin-big);

    background-color: var(--color-background-l1);
    border-radius: var(--border-radius);

    transition: filter var(--transition);
    cursor: pointer;

    &:hover {
        filter: var(--filter-hover);
    }

    &:not(:last-child) {
        margin-bottom: var(--margin);
    }

    i {
        font-size: 24px;
        align-self: center;
        width: 48px;
        margin-right: var(--margin);
        text-align: center;
    }

    .desc {
        .secondary {
            filter: var(--filter-hover-inverted);
        }
    }
}

.nothing-found {
    text-align: center;
    color: var(--color-gray);
}

.note-container {
    margin-bottom: var(--margin-big);
}

.block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: var(--margin-big);
    padding-bottom: var(--margin); // To account for margin-bottom: --margin on the bottom of the open changelog item
    margin-bottom: var(--margin);

    border-radius: var(--border-radius);

    background: linear-gradient(to top right, var(--color-green), var(--color-lime));
    color: var(--color-black);
    box-shadow: var(--shadow);

    i {
        font-size: 32px;
        padding: 0 calc((48px - 32px) / 2);
    }

    .text {
        margin-left: var(--margin);
        width: 100%;
        p {
            margin: 0;
            margin-bottom: var(--margin-big);
        }
    }

    app-item {
        color: var(--color-text);
    }
}

h2 {
    margin-bottom: var(--margin);
}
